{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
    <div id="page-wrapper" class="pt-5 container mt-5" style="height: 90vh">

        {% if not user.is_authenticated %}
            <div class="container text-center mt-5">
                <a id="" href="/" class="row text-center" style="margin-top:50px;">
                    <span class="col-md-5 col-3"></span>
                    <a href="/"><img class="image-responsive w-25 col-md-6 col-6 pt-5 ml-5" src="{% static 'main/images/logo_letras.svg' %}" alt=""/></a>
                    <span class="col-md-5 col-3"></span>
                </a>
            </div>
        {% endif %}

        {% if messages %}
            <div>
                <strong>Messages:</strong>
                <ul>
                    {% for message in messages %}
                        <li>
                            <h1 class="display-4">{{message}}</h1>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="text-center mb-5">
            <strong>Menu:</strong>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">{% trans 'Sign In' %}</a></li>
                    <li><a href="{% url 'signup' %}">{% trans 'Sign Up' %}</a></li>
                {% endif %}
            </ul>
        </div>

        {% block content %}{% endblock %}

    </div>
{% endblock %}

{% block extra_body %}{% endblock %}

{% include "main/script.html" %}
