<!DOCTYPE HTML>
<html>
    <head>
        <title>Fluid Surf</title>
        <meta charset="utf-8" />

        <!-- Verificar el sitio web en Google Webmasters -->
		<meta name="google-site-verification" content="lsjetXvJbnfErFsY40Acio-XFPhgVtAESjRp1zPBeIQ" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136254464-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136254464-1');
        </script>

        {% load static %}
        {% load i18n %}
        {% load social_share %}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/gif" href="{% static 'main/images/logo.ico' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link type="text/x-scss" href="{% static 'home/css/custom.scss' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">

        <style>
        @font-face {
            font-family: 'Edo';
            src: local: ('Edo'),
                 url("{% static 'main/assets/webfonts/edo.ttf' %}") format("truetype");
            font-weight: normal;
            font-style: normal;
        }

        </style>

        <!-- Imports para bootstrap -->
        <noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>
        <meta property="og:description" content="Conectamos surferos y fotografos">
    </head>
    <body class="is-preload">
<!--Navbar-->

<header class="w-100 pb-5" id="header">
            <nav class="main w-100" style="z-index: 10000;">
                <ul class="row">
                    <li class="menu justify-content-center col-md-1 mt-2 col-6 text-left" style="display: inline-block;">
                        <a class="fa fa-bars fa-2x" href="#menu"></a>
                    </li>
                    <li class="col-md-11 col-6 pr-4 mt-3 mb-5">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                           <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" class="mt-3">
                                    <select name="language" style="display: none;">
                                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                                {{ language.name_local }} ({{ language.code }})
                                            </option>
                                    </select>
                               <li class="float-right text-right" style="display: inline-block; margin-top: -15px;">
                                   {% if forloop.first %}
                                    <input class="transButton" type="image" src="{% static 'home/images/english.png' %}" value="{% trans 'Change language' %}" style="">
                                    {% else %}
                                    <input class="transButton" type="image" src="{% static 'home/images/spain.png' %}" value="{% trans 'Change language' %}" style="">
                                   {% endif %}
                                </li>
                           </form>
                       {% endfor %}
                    </li>
                </ul>
            </nav>
</header>

<section id="menu" style="z-index: 9999999999999">
        <section id="member" class="banner">
            {% if user.is_authenticated %}
            <div class="inner pb-5">
                <div class="img-logo">
                     {% if user.profile_pic %}
                        <img src="/media/{{ user.profile_pic }}" style="cursor:pointer">
                    {% elif user.socialaccount_set.all.0.get_avatar_url %}
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                    {% else %}
                        <img src="{% static 'main/images/no_user.png' %}" alt=""style="cursor:pointer">
                     {% endif %}
                    <div class="overlay">
                        <form action="{% url 'change-image' %}" id="formImage" method="post" enctype='multipart/form-data'>
                            {% csrf_token %}

                                <label for="changeImage" class="white info" style="cursor: pointer;">{% trans 'edit' %}</label>

                            <input id="changeImage" type="file" name="changeImage" style="display: none;">
                            <input type="submit" class="d-none" id="buttonSubmitImage">
                        </form>
                    </div>
                </div>
                <br>
                <div class="w-100 h-25"></div>
                <h3 class="display-4" id="username" style="font-size: 36px;">{{ user.username }}</h3>
            </div>

            {% endif %}

           <div class="pl-3">
               <ul>
                   <li class="text-left mt-3">
                        <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                   </li>
               </ul>

               <ul>
                   {% if user.is_authenticated %}
                   <li class="text-left mt-3">
                        <h1>{% trans 'MY PROFILE' %}</h1>
                   </li>
                   <li class="text-left mt-3 ml-2">
                       · <a href="{% url 'mi-cuenta' %}" style="color:#838383">{% trans 'My account' %}</a>
                   </li>
               {% if user.tipo_de_usuario == 'SURFERO' %}
                    <li class="text-left mt-3 ml-2">
                       · <a href="{% url 'historial' %}" style="color:#838383">{% trans 'Purchase History' %}</a>
                    </li>
                    <li class="text-left mt-3 ml-2">
                       · <a href="{% url 'wishlist' %}" style="color:#838383">{% trans 'Wishlist' %}</a>
                   </li>
               {% else %}
                   <li class="text-left mt-3 ml-2">
                       · <a href="{% url 'historial' %}" style="color:#838383">{% trans 'Sales History' %}</a>
                    </li>
                   {% endif %}
                   {% endif %}
               </ul>

            {% if user.tipo_de_usuario == 'FOTOGRAFO' or user.is_staff %}
                <ul>
               {% if user.is_staff %}

                    <li class="text-left mt-3">
                        <h1>{% trans 'MANAGEMENT' %}</h1>
                   </li>

                   <li class="text-left mt-3 ml-2">
                       · <a href="{% url 'dashboard' %}" style="color:#838383">{% trans 'Dashboard' %}</a>
                   </li>

                {% endif %}
                {% if user.tipo_de_usuario == 'FOTOGRAFO' %}

                    <li class="text-left mt-3">
                        <h1>{% trans 'PHOTOGRAPHER PROFILE' %}</h1>
                    </li>

                   <li class="text-left mt-3 ml-2">
                       · <a href="/perfil/{{ user.id }}" style="color:#838383">{% trans 'Public Profile' %}</a>
                    </li>


                   <li class="text-left mt-3 ml-2">
                       · <a href="{% url 'subir-producto' %}" style="color:#838383">{% trans 'Add product' %}</a>
                   </li>

                    <li class="text-left mt-3 ml-2">
                       · <a href="{% url 'mis-productos' %}" style="color:#838383">{% trans 'My products' %}</a>
                   </li>
                {% endif %}
               </ul>
           {% endif %}

            {% if not user.is_authenticated %}
               <ul>
                   <li class="text-left mt-3">
                       <a href="{% url 'login' %}">{% trans 'Login' %}</a>
                   </li>
               </ul>

               <ul>
                   <li class="text-left mt-3">
                       <a href="{% url 'signup' %}">{% trans 'Signup' %}</a>
                   </li>
               </ul>
               {% else %}
               <ul>
                   <li class="text-center mt-5 pt-5">
                       <a href="{% url 'logout' %}" ><button class="pl-5 pr-5"> {% trans 'Logout' %}</button></a>
                   </li>
               </ul>
               {% endif %}

               <br><br>
           </div>

        </section>
</section>

<!--/.Navbar-->
        <!-- Page Wrapper -->
        <div id="page-wrapper mt-5">

        {% if messages %}
              {% for message in messages %}
                    <div class="row text-center mx-auto notificacion pt-5 w-100" style="height:75px; position: fixed !important; top: 10px; z-index: 10;">
                        <div class="col-1 col-lg-4"></div>
                        <div class="alert bg-light text-dark alert-dismissible text-center col-10 col-lg-4 pt-4 mt-5 pl-1 pb-3 z-depth-3
                        {% if message.tags == 'warning' %} alert-roja {% else %} alert-verde {% endif %}" role="alert"
                        style="box-shadow: 5px 5px 10px grey">
                            {% if message.tags == 'warning'%}
                                <span class="align-middle">
                                    <i class="fas fa-exclamation-triangle fa-2x"></i>
                                </span>
                            {% else %}
                                <span class="align-middle">
                                    <i class="fas fa-check fa-2x"></i>
                                </span>
                            {% endif %}
                            <span class="mb-5 pl-1">{{ message }}</span>
                            <button type="button" class="btn close p-0 pl-1" data-dismiss="alert" aria-label="Close" style="height:25px;"><span aria-hidden="true" class="black">&times;</span></button>
                        </div>
                        <div class="col-1 col-lg-4"></div>
                        </div>
              {% endfor %}
            {% endif %}

            <!-- Wrapper -->
            {% block main %}
            {% endblock %}

            <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-5" style="background-color: #eceff1; clear: both;">

  <!-- Footer Links -->
  <div class=" text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{% trans 'Information' %}</h5>

        <ul class="list-unstyled">
                      <li><a href="{% url 'how-does-it-work' %}">{% trans 'How does Fluid House works?' %}</a></li>
                      <li><a href="{% url 'secure-payments' %}">{% trans 'Secure payments' %}</a></li>
                      <li><a href="{% url 'free-sub' %}">{% trans 'Free subscription features' %}</a></li>
                      <li><a href="{% url 'manual' %}">{% trans 'Selling photos: Manual' %}</a></li>
                      <li><a href="{% url 'copyright' %}">{% trans 'Copyright, licenses and sizes' %}</a></li>
                      <li><a href="{% url 'terms' %}">{% trans 'Terms & Conditions' %}</a></li>
                      <li><a href="{% url 'privacy' %}">{% trans 'Privacy Policy' %}</a></li>
                      <li><a href="{% url 'taxes' %}">{% trans 'Taxes and invoices' %}</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{% trans 'Customer Service' %}</h5>

        <ul class="list-unstyled">
            <li><a href="{% url 'contacto' %}">{% trans 'Contact' %}</a></li>
            <li><a href="{% url 'devolucion' %}">{% trans 'Returns' %}</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Call to action -->

    {% if not user.is_authenticated  %}
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="{% url 'signup' %}" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
      {% endif %}

  <!-- Call to action -->

  <hr>

    <script defer async>

    </script>
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center icons">
      <li>{% post_to_twitter _("Take a look at FluidSurf!") request.get_full_path  %}</li>
      <li>{% post_to_facebook object_or_url "" %}</li>
      <li>{% send_email _("Take a look at FluidSurf!") object_or_url "Share via email"%}</li>
      <li>{% post_to_telegram _("Take a look at FluidSurf!") request.get_full_path %}</li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="https://www.quitiweb.com/">© Quitiweb</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

        </div>

        <!-- Scripts -->
        <script src="{% static 'main/assets/js/jquery.min.js' %}"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
        <script src="{% static 'main/assets/js/jquery.poptrox.min.js' %}"></script>
        <script src="{% static 'main/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'main/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'main/assets/js/util.js' %}"></script>
        <script src="{% static 'main/assets/js/main.js' %}"></script>
        <script src="{% static 'main/assets/js/menu.js' %}"></script>
        <script src="{% static 'main/assets/js/cambiarcolor.js' %}"></script>
        <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous">
        </script>
        <!-- Imports para bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>

    </body>
</html>