<!DOCTYPE HTML>
<html>
    <head>
        <title>Fluid Surf</title>
        <meta charset="utf-8" />

        <!-- Verificar el sitio web en Google Webmasters -->
		<meta name="google-site-verification" content="lsjetXvJbnfErFsY40Acio-XFPhgVtAESjRp1zPBeIQ" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136254464-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136254464-1');
        </script>

        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/gif" href="{% static 'main/images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
        <link rel="stylesheet" href="{% static 'main/assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}">
        <noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>
        <meta property="og:description" content="La economía colaborativa ha llegado al retail.">
    </head>
    <body class="is-preload">

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Wrapper -->
            {% block wrapper %}
            {% endblock %}

        </div>

        <!-- Scripts -->
        <script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.poptrox.min.js' %}"></script>
        <script src="{% static 'main/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'main/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'main/assets/js/util.js' %}"></script>
        <script src="{% static 'main/assets/js/main.js' %}"></script>

    </body>
</html>