{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load imagekit %}

{% block main %}
    <style>
        .bot-search {
            color: white !important;
            font-size: 1.5em;
            position: relative;
            left: 5px;
        }

        .top-barras {
            display: none !important;
        }

        .top-back {
            display: inline-block !important;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.css">

    <div class="container mt-5 pt-5" style="padding-bottom: 75px;">
        <div class="row">
            <div class="col-12 pb-5">
                <h1 class="display-4 ml-2" style="font-size: 2.5rem !important;">¿Qué estás buscando?</h1>
            </div>
        </div>

        <div class="row mt-5t text-center">
            <div class="col-6">
                <img class="img-top d-none foto" src="{% static '/main/images/Ilustracion2.png' %}" alt="" width="100%" style="border-radius: 67%; width: 125px;"/>
                <div class="foto-texto">
                    <h1 class="display-4" style="font-size: 1.3rem">Localizar fotógrafos</h1>
                </div>
            </div>
            <div class="col-6">
                <img class="img-top d-none surf" src="{% static '/main/images/Ilustracion1.png' %}" alt="" width="100%" style="border-radius: 67%; width: 125px;"/>
                <div class="foto-texto">
                    <h1 class="display-4" style="font-size: 1.3rem">Encuentra tus fotos</h1>
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            <div class="bar col-6 d-none" style=" width: 27%; margin-left: 9%;; height: 2px;
                                                  border:3px solid #245b6b; border-radius: 5px;
                                                  position: relative; top: 5px;">

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 form text-center">

                <form action="" method="POST" id="formulario">
                    {% csrf_token %}
                     <div class="col-12 col-lg-3 mt-3">
                         <input type="text" name="alias" placeholder="Alias">
                     </div>

                    <div class="col-12 col-lg-3 mt-3" id="div-cont">
                        <label>{% trans 'Continent' %}*</label>
                        <select name="" id="selectCont"></select>
                    </div>

                    <div class="col-12 col-lg-3 mt-3" id="div-pais">
                        <label>{% trans 'Country' %}*</label>
                        <select name="" id="selectPais"></select>
                    </div>

                    <div class="col-12 col-lg-3 mt-3">
                        <label>{% trans 'Area' %}*</label>
                        <select name="area" id="selectArea"></select>
                    </div>

                    <div class="col-12 col-lg-3 mt-3">
                        <label>{% trans 'Spot' %}*</label>
                        <select name="spot" id="selectSpot"></select>
                    </div>

                    <input class="btn btn-primary mt-4" type="button" value="Elige qué estás buscando" id="buscar" disabled>
                    <input class="btn btn-primary mt-3 d-none" type="submit" value="Elige qué estás buscando" name="buscar-foto" id="buscar-form">

                    <div class="col-12 mt-5">
                        <i class="fas fa-info-circle"></i>
                        <span class="">
                            Mostrando zonas y spots del país configurado en
                            <a style="text-decoration: underline" href="{% url 'mi-cuenta' %}">tu cuenta</a>
                        </span>
                    </div>
                    
                    <div>
                        <a style="text-decoration: underline" href="{% url 'buscador' %}" id="linkAll">
                            Ver todos los paises y continentes (La carga puede ser más lenta)
                        </a>
                    </div>
                </form>

                <div class="row mt-3" id="resultados">
                    {% if results == "foto" %}
                        {% for foto in filter.qs %}
                            {% if foto.profile_pic %}
                                <div class="col-1"></div>
                                <div class="card col-10 col-lg-3 mt-3" style="position: relative; left: 5px;">
                                    <img class="card-img-top" src="{{ foto.profile_pic.url }}" alt="Card image cap" style="position: relative; right: 10px;">

                                    <div class="card-body">
                                        <p class="card-text">
                                            {{ foto.alias }}
                                        </p>
                                        <p class="mr-2">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            {{ foto.pais }}
                                        </p>
                                    </div>
                                </div>
                                  <div class="col-1"></div>
                            {% endif %}
                        {% endfor %}
                    {% elif results == "surf" %}
                        {% for prod in filter.qs %}
                            {% if prod.imagen0 %}
                                <div class="col-1"></div>
                                <div class="card col-10 col-lg-3 mt-3" style="position: relative; left: 5px;">
                                    <img class="card-img-top" src="{{ prod.imagen0.url }}" alt="Card image cap" style="position: relative; right: 10px;">
                                    <div class="card-body">
                                        <p class="mr-2">
                                            {{ prod.nombre }}
                                        </p>
                                        <p class="float-left">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            {{ prod.user.alias }}
                                        </p>
                                        <p class="">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            {{ prod.spot }}
                                        </p>
                                    </div>
                                </div>
                                  <div class="col-1"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if filter.qs.count == 0 %}
                        <div class="row mt-5">
                            <div class="col-12 text-center ml-2 mt-5">
                                No se han encontrado resultados para tu busqueda :(
                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: transparent; border: none;" >
              <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <h1 class="display-4 white text-center" style="font-weight: bold !important; font-size: 32px !important;">
                                Cargando spots de todos los continentes
                            </h1>
                        </div>
                        <div class="loader col-12 mt-3" style="margin-left: 30%;"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
    </div>

    <script defer>
        let scroll = "{{ scroll }}" === "True";

        const spotOG = {{ spotOG|safe }};

        let spotQS = [];

        for (let spot of spotOG) {
            var result = JSON.parse(spot)
            spotQS.push(result)
        }
    </script>

    <script src="{% static 'main/assets/js/buscador.js' %}" defer></script>
    <script src="{% static 'main/assets/js/filtros-spots.js' %}" defer></script>


{% endblock %}