{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load social_share %}
{% load imagekit %}

{% block main %}

<div class="container pt-5 text-center">
    <h1 class="display-4 mt-5">{% trans 'Contact FluidSurf' %}</h1>
    <form action="" method="post" class="mt-5"> {% csrf_token %}
        <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-6">
                {{ form.from_email }}
            </div>
        </div>

        <div class="row text-center mt-5">
            <div class="col-3"></div>
            <div class="col-6">
                {{ form.message }}
            </div>
        </div>

        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="row text-center mt-3">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <div class="g-recaptcha" data-sitekey="6LdNpL4UAAAAAO_YQw7sMoLfaaocMYFSd0birCp3"></div>
            </div>
        </div>

        <input class="mt-5" type="submit" value="{% trans 'Send message' %}">
    </form>
</div>
{% endblock %}