{% extends 'home/base-p.html' %}

{% load static %}
{% load i18n %}
{% load social_share %}
{% load imagekit %}

{% block main %}

<div id="wrapper">
	<section id="main">
		<!-- Items -->
			<div class="items">
            {% if user.is_authenticated %}
				<div class="item intro2 span-1 row">
					<div class="col-12">
						<a href="/"><img class="img-responsive imagen" src="{% static 'main/images/logo_letras.svg' %}" alt=""/></a>
					</div>
				</div>
				{% else %}
				<div class="item intro span-1 row">
					<div class="col-12">
						<a href="/"><img class="img-responsive imagen" src="{% static 'main/images/logo_letras.svg' %}" alt=""/></a>
					</div>
				</div>
				<div class="item intro2 span-2 text-center pt-5">
					<h1 class="white">{% trans 'Welcome to' %} FluidSurf</h1>
					<div class="col-12">
						<a href="{% url 'login' %}" class="btn btn-primary w-75 mt-3">{% trans 'Login' %}</a>
						<a href="{% url 'signup' %}" class="btn btn-secondary mt-1 w-75">{% trans 'Signup' %}</a>
					</div>
				</div>
            {% endif %}
                <div class="item intro span-2 white" style="background: white">
						<form action="" method="get" class="mt-3">
                        <div class="row">
<!--							<div class="col-12">{{ filter.form.nombre }}</div>-->
							<div class="col-6">
								<img src="{% static '/main/images/Ilustracion2.png' %}" alt="" width="100%" style="margin-top: 54px;">
							</div>
							<div class="col-6">
								<h1 class="ml-3">{% trans 'Browser' %}</h1>

								<div class="col-12 mt-3">{{ filter.form.alias }}</div>
								<div class="col-12 mt-3">{{ filter.form.zona  }}</div>

								<button type="submit" class="btn btn-primary mt-3 ml-4" style="height: 40px">{% trans 'Apply filters' %}</button>

							</div>
						</div>

                    </form>
				</div>

				{% for user in filter.qs|slice:"1:20"   %}
					{% if not forloop.counter|divisibleby:2 %}
					{% if user.main_pic %}
						<div class="item thumb span-2" style="background: url(/media/{{ user.main_pic }}) !important; cursor: pointer;" onclick="location.href = 'perfil/{{user.id}}'">
					{% else %}
						<div class="item thumb span-2 intro" style="cursor: pointer;" onclick="location.href = '/perfil/{{user.id}}';">
					{% endif %}
						<h2 class="white">{{ user.username }}</h2>
						<a href="{% url 'perfil' id=user.id%}" class="">
						{% if user.profile_pic %}
							<img src="/media/{{ user.profile_pic }}" class="rounded-circle float-right ml-3 mt-3" style="cursor: pointer; height: 100px; width: 100px;" data-toggle="modal" data-target="#profileModal">
						 {% else %}
							<img src="{% static 'main/images/no_user.png' %}" alt="" class="rounded-circle float-right ml-3 mt-3" style="cursor: pointer; height: 100px; width: 100px;" data-toggle="modal" data-target="profileModal">
						 {% endif %}
						</a>
					</div>
					{% endif %}
				{% endfor %}

            </div>

		<div class="items">
				<div class="item intro span-2 white" style="background: white">
					<div class="row">
						<div class="col-6">
							<h1 class="ml-5 mt-4">{% trans 'Surfers' %}</h1>
							<a href="{% url 'index' %}" class="btn btn-primary mt-4 ml-5">{% trans 'Search products nearby you' %}</a>
						</div>
						<div class="col-6">
							<img src="{% static '/main/images/Ilustracion1.png' %}" alt="" width="100%" style="margin-top: 72px;">
						</div>
					</div>
				</div>
				<div class="item intro3 span-2">
					<body class="text-center" onload='loadMapScenario();'>
					  <div id='printoutPanel'></div>
						<div id='myMap' class="" style=""></div>
					</body>
				</div>
				{% for user in filter.qs|slice:":1" %}
					{% if user.main_pic %}
						<div class="item thumb span-2" style="background: url(/media/{{ user.main_pic }}) !important; cursor: pointer;" onclick="location.href = 'perfil/{{user.id}}'">
					{% else %}
						<div class="item thumb span-2 intro" style="cursor: pointer;" onclick="location.href = '/perfil/{{user.id}}';">
					{% endif %}
					<h2 class="white">{{ user.username }}</h2>
					<a href="{% url 'perfil' id=user.id%}" class="">
					{% if user.profile_pic %}
                        <img src="/media/{{ user.profile_pic }}" class="rounded-circle float-right ml-3 mt-3" style="cursor: pointer; height: 100px; width: 100px;" data-toggle="modal" data-target="#profileModal">
                     {% else %}
                        <img src="{% static 'main/images/no_user.png' %}" alt="" class="rounded-circle float-right ml-3 mt-3" style="cursor: pointer; height: 100px; width: 100px;" data-toggle="modal" data-target="profileModal">
                     {% endif %}
					</a>
				</div>
				{% endfor %}
				{% for user in filter.qs|slice:"1:20"   %}
					{% if forloop.counter|divisibleby:2 %}
					{% if user.main_pic %}
						<div class="item thumb span-2" style="background: url(/media/{{ user.main_pic }}) !important; cursor: pointer;" onclick="location.href = 'perfil/{{user.id}}'">
					{% else %}
						<div class="item thumb span-2 intro" style="cursor: pointer;" onclick="location.href = '/perfil/{{user.id}}';">
					{% endif %}
						<h2 class="white">{{ user.username }}</h2>
						<a href="{% url 'perfil' id=user.id%}" class="">
						{% if user.profile_pic %}
							<img src="/media/{{ user.profile_pic }}" class="rounded-circle float-right ml-3 mt-3" style="cursor: pointer; height: 100px; width: 100px;" data-toggle="modal" data-target="#profileModal">
						 {% else %}
							<img src="{% static 'main/images/no_user.png' %}" alt="" class="rounded-circle float-right ml-3 mt-3" style="cursor: pointer; height: 100px; width: 100px;" data-toggle="modal" data-target="profileModal">
						 {% endif %}
						</a>
					</div>
					{% endif %}
				{% endfor %}
			</div>

    </section>
</div>

<script type='text/javascript' src="https://www.bing.com/api/maps/mapcontrol?key={{API_KEY}}"defer async></script>

{% endblock %}