{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load imagekit %}

{% block main %}
<style>
	body {
		{#background: url({% static 'main/images/bg.jpg' %}) no-repeat center center fixed; background-size: cover;#}
	}
</style>

<div class="container pt-5">
     {% if user.tipo_de_usuario == 'SURFERO' %}
            <h1 class="display-4 pt-5 text-center" style="color:black; position: relative; left: 30px;">
                <img src="{% static 'main/images/logo_letras.svg' %}" alt="" style="width: 200px">
                <i class="fas fa-history" style="position: relative; right: 23px;"></i>
            </h1>
        <div class="row">
            {% if compras %}
            {% for compra in compras %}
                   <div class="col-lg-3 col-12 pb-3 mt-3">
                    <div class="card col-12 p-2">
                {% generateimage 'home:watermark' source=compra.producto.imagen0 -- class='card-img-top' style='object-fit:cover;' height='150'%}
                  <div class="card-body">
                    <h5 class="card-title text-left">{{ compra.producto.nombre }}</h5>
                    <p class="card-text text-left">{% trans 'Date' %}: {{ compra.fecha }} <br>
                         {% trans 'Price' %}: <strong style="color:black;"> {{ compra.producto.precio }} € </strong> <br>
                         {% trans 'Uploaded by' %}:
                         {% if compra.vendedor.alias %}
                            <a href="{% url 'perfil' id=compra.vendedor.id %}">{{ compra.vendedor.alias }}</a>
                            {% else %}
                            {{ compra.vendedor.first_name }} {{ compra.vendedor.last_name }}
                        {% endif %}
                      <form action="" method="post">
                      {% csrf_token %}
                      <button name="download" value="{{ compra.id }}" download="imagen.jpg" class="btn btn-primary mt-2 mr-3" onclick="window.location.reload();"><i class="fa fa-download" aria-hidden="true"></i> {% trans 'Download' %}</button>
                      {% trans 'Downloads available:' %}  {{ compra.descargas }}
                  </form>
                    </p>
                  </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 text-center mt-5">{% trans 'There are no products here' %} :(</div>
            {% endif %}
        </div>
        {% elif user.tipo_de_usuario == 'FOTOGRAFO' %}
            <h1 class="display-4 pt-5 text-center" style="color:black; position: relative; left: 30px;">
                <img src="{% static 'main/images/logo_letras.svg' %}" alt="" style="width: 200px">
                <i class="fas fa-history" style="position: relative; right: 23px;"></i>
            </h1>
            <div class="row">
                {% if ventas %}
                {% for venta in ventas %}
                   <div class="col-lg-3 col-12 pb-3 mt-3">
                    <div class="card col-12 p-2">
                    {% generateimage 'home:watermark' source=venta.producto.imagen0 -- class='card-img-top' style='object-fit:cover;' height='150'%}
                      <div class="card-body">
                        <h5 class="card-title text-left">{{ venta.producto.nombre }}</h5>
                        <p class="card-text text-left">{% trans 'Date' %}: {{ venta.fecha }} <br>
                             {% trans 'Price' %}: <strong style="color:black;"> {{ venta.producto.precio }} € </strong> <br>
                             {% trans 'Sold to' %}:
                            <a href="{% url 'perfil' id=venta.comprador.id %}">{{ venta.comprador.username }}</a>
                        </p>
                          {% if venta.producto.stock == 0 %}
                          <form action="" method="post">
                              {% csrf_token %}
                            <button type=submit" name="restock" class="btn btn-primary mt-3" value="{{venta.id}}">{% trans 'Restock' %}</button>
                          </form>
                          {% endif %}
                      </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12 text-center mt-5">{% trans 'There are no products here' %} :(</div>
                {% endif %}
            </div>
        {% endif %}
</div>
{% endblock %}