{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load imagekit %}

{% block main %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light display-4">{% trans 'Connecting photographers and surfers' %}</h1>
		  <input type="text" class="mt-5">
      </div>
    </div>
  </div>
</header>

<section>
	<div class="row mt-5 text-center">
		<div class="col-xl-1 col-2"></div>
		<div class="col-12 col-xl-3 text-center mt-5 mr-3 pl-3">
			<h1 class="display-3 surf"> {% trans 'Choose your area in the map' %}</h1>
		</div>
		<div class="col-1"></div>

		<div class="col-10 col-xl-6 mt-5">
			<img class="img-fluid" src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/pass/GoogleMapTA.jpg" alt="">
		</div>
	</div>
</section>

<!-- Wrapper -->
<div id="wrapper">
	<!-- Main -->
			<div class="row mt-5 w-100">
			<div class="col-12" style="background-color: #1C8CC4; margin-top:350px">
			<h1 class="display-4 surf white ml-5">
				{% trans 'Your area' %}
			</h1>
			</div>
		</div>
	<section id="main">

		<!-- Items -->
			<div class="items">
				{% for producto in productos %}
				<article class="item thumb span-1">
					<h2 class="white">{{ producto.nombre }}</h2>
					<a href="{% url 'producto' id=producto.id%}" class="">
						{% generateimage 'home:watermark' source=producto.imagen0 -- class='d-block w-100' style='object-fit:cover' height='400' %}
					</a>
				</article>
				{% endfor %}

			</div>

		<!-- Items -->
			<div class="items">

				<article class="item thumb span-3"><h2>Kingdom of the Wind</h2><a href="{% static 'main/images/fulls/05.jpg' %}" class=""><img src="{% static 'main/images/thumbs/05.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>The Pursuit</h2><a href="{% static 'main/images/fulls/06.jpg' %}" class=""><img src="{% static 'main/images/thumbs/06.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>Boundless</h2><a href="{% static 'main/images/fulls/07.jpg' %}" class=""><img src="{% static 'main/images/thumbs/07.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>The Spectators</h2><a href="{% static 'main/images/fulls/08.jpg' %}" class=""><img src="{% static 'main/images/thumbs/08.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>You really got me</h2><a href="{% static 'main/images/fulls/01.jpg' %}" class=""><img src="{% static 'main/images/thumbs/01.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>Ad Infinitum</h2><a href="{% static 'main/images/fulls/02.jpg' %}" class=""><img src="{% static 'main/images/thumbs/02.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>Different.</h2><a href="{% static 'main/images/fulls/03.jpg' %}" class=""><img src="{% static 'main/images/thumbs/03.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>Kingdom of the Wind</h2><a href="{% static 'main/images/fulls/05.jpg' %}" class=""><img src="{% static 'main/images/thumbs/05.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>Elysium</h2><a href="{% static 'main/images/fulls/01.jpg' %}" class=""><img src="{% static 'main/images/thumbs/04.jpg' %}" alt=""></a></article>

<!--				FUNCIONA, PERO COMO NO TENEMOS SUFICIENTES PRODUCTOS EN LA BDD POR AHORA LO DEJO
					(SI HAY MENOS DE X NUMERO DE PRODUCTOS EN LA BBDD SE DESCUADRA)
					LA IDEA ES QUE SE MUESTREN LOS 10 PRIMEROS PRODUCTOS DE LA QUERY ARRIBA Y LOS 10 SEGUNDOS ABAJO
					-->
<!--				{% for producto in productos2 %}-->
<!--				<article class="item thumb span-1">-->
<!--					<h2 class="white">{{ producto.nombre }}</h2>-->
<!--					<a href="{% url 'producto' id=producto.id%}" class=""><img src="media/{{ producto.imagen0 }}" alt=""></a>-->
<!--				</article>-->
<!--				{% endfor %}-->
			</div>
	</section>
</div>

		<div class="row mt-5">
			<div class="col-12" style="background-color: #1C8CC4;">
			<h1 class="display-4 surf white ml-5">
				{% trans 'Recommended for you' %}
			</h1>
			</div>
		</div>

		<div class="row mt-5 ml-1 mr-2 text-center">
			<img src="https://www.upsurfboard.com/wp-content/uploads/2019/01/Tabla-Surf-Funny-Up-UPSURFBOARD-Olas.jpg" class="rounded col-md-3 col-6 mt-3" style="object-fit:cover;" height="350">
			<img src="https://www.upsurfboard.com/wp-content/uploads/2019/01/Tabla-Surf-Funny-Up-UPSURFBOARD-Olas.jpg" class="rounded col-md-3 col-6 mt-3" style="object-fit:cover;" height="350">
			<img src="https://www.upsurfboard.com/wp-content/uploads/2019/01/Tabla-Surf-Funny-Up-UPSURFBOARD-Olas.jpg" class="rounded col-md-3 col-6 mt-3" style="object-fit:cover;" height="350">
			<img src="https://www.upsurfboard.com/wp-content/uploads/2019/01/Tabla-Surf-Funny-Up-UPSURFBOARD-Olas.jpg" class="rounded col-md-3 col-6 mt-3" style="object-fit:cover;" height="350">
		</div>

		<div class="row mt-5 text-center">
			<div class="col-12">
				<button>{% trans 'Subscribe' %}</button>
			</div>
		</div>
<!--	TODO poner enlaces en los li-->
	<!-- Footer -->
		<section id="footer" class="mt-5">
			<div class="row col-12">
				<div class="col-12 col-md-3 mt-3">
					<strong class="naranja">{% trans 'INFORMATION'%}</strong>
					<ul style="color:#F5F5F5;">
						<li>{% trans 'How does Fluid House work?' %}</li>
						<li>{% trans 'Security  in payments'%}</li>
						<li>{% trans 'Free subscription' %}</li>
						<li>{% trans 'Sell photographs' %}</li>
						<li>{% trans 'Copyright, licenses and sizes' %}</li>
						<li>{% trans 'Terms & Conditions' %}</li>
						<li>{% trans 'Privacy Policy' %}</li>
						<li>{% trans 'Taxes & Facturation' %}</li>
					</ul>
				</div>

			<div class="col-12 col-md-3 mt-3">
				<div class="col-12">
					<strong class="naranja">{% trans 'CUSTOMER SERVICE' %}</strong>
					<ul style="color:#F5F5F5;">
						<li>{% trans 'Contact' %}</li>
						<li>{% trans 'Refunds' %}</li>
					</ul>
				</div>
		</div>
				<div class="col-md-6 col-12 mt-3">
					<strong class="naranja">{% trans 'MANAGEMENT AREA' %}</strong>
					<ul style="color:#F5F5F5;">
						<li>{% trans 'My account' %}</li>
						<li>{% trans 'Order record' %}</li>
						<li>{% trans 'Order record' %}</li>
						<li>{% trans 'Wishlist' %}</li>
						<li>Newsletter</li>
					</ul>
				</div>

				<div class="col-6"></div>
				<div class="col-12 col-md-6 mt-5 text-right">
					<ul class="icons" style="color:#F5F5F5;">
						<li><a href="#" class="icon brands fa fa-twitter" ><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon solid fa fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</div>
		</div>


			<section>

			</section>
		</section>

{% endblock %}