{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load imagekit %}

{% block main %}

  <script type='text/javascript'>
        var map;
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map('#myMap', {
				 zoom: 0
        });

        var center = map.getCenter();
        {% for ubicacion in ubicaciones %}

        var punto = new Microsoft.Maps.Location({{ubicacion.geoloc}});

        //Create custom Pushpin
        var pin = new Microsoft.Maps.Pushpin(punto, {
			title: '{{ ubicacion.spot }}',
            subTitle: '',
            {% if ubicacion.spot == 'Europa' %}
            	text: '{{ p_eu }}'
            {% elif ubicacion.spot == 'Asia' %}
            	text: '{{ p_as }}'
			{% elif ubicacion.spot == 'Africa' %}
            	text: '{{ p_af }}'
			{% elif ubicacion.spot == 'Oceania' %}
            	text: '{{ p_oc }}'
			{% elif ubicacion.spot == 'America del Norte' %}
            	text: '{{ p_na }}'
			{% elif ubicacion.spot == 'America del Sur' %}
            	text: '{{ p_sa }}'
            {% endif %}
        });


        //Add the pushpin to the map
        map.entities.push(pin);

         Microsoft.Maps.Events.addHandler(pin, 'click', function () {
         	window.location.href = "{% url 'zona' nombre=ubicacion.spot %}";
         });

        {% endfor %}
        }
        </script>



<!-- Wrapper -->
<div id="wrapper">
	<section id="main">
		<!-- Items -->
			<div class="items">
				{% for producto in productos %}
				<article class="item thumb span-1">
					<h2 class="white">{{ producto.nombre }}</h2>
					<a href="{% url 'producto' id=producto.id%}" class="">
						{% generateimage 'home:watermark' source=producto.imagen0 -- class='d-block w-100' style='object-fit:cover' height='400' %}
					</a>
				</article>
				{% endfor %}

			</div>

		<!-- Items -->
			<div class="items">

				<article class="item thumb span-3"><h2>Kingdom of the Wind</h2><a href="{% static 'main/images/fulls/05.jpg' %}" class=""><img src="{% static 'main/images/thumbs/05.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>The Pursuit</h2><a href="{% static 'main/images/fulls/06.jpg' %}" class=""><img src="{% static 'main/images/thumbs/06.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>Boundless</h2><a href="{% static 'main/images/fulls/07.jpg' %}" class=""><img src="{% static 'main/images/thumbs/07.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>The Spectators</h2><a href="{% static 'main/images/fulls/08.jpg' %}" class=""><img src="{% static 'main/images/thumbs/08.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>You really got me</h2><a href="{% static 'main/images/fulls/01.jpg' %}" class=""><img src="{% static 'main/images/thumbs/01.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>Ad Infinitum</h2><a href="{% static 'main/images/fulls/02.jpg' %}" class=""><img src="{% static 'main/images/thumbs/02.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>Different.</h2><a href="{% static 'main/images/fulls/03.jpg' %}" class=""><img src="{% static 'main/images/thumbs/03.jpg' %}" alt=""></a></article>
				<article class="item thumb span-2"><h2>Kingdom of the Wind</h2><a href="{% static 'main/images/fulls/05.jpg' %}" class=""><img src="{% static 'main/images/thumbs/05.jpg' %}" alt=""></a></article>
				<article class="item thumb span-1"><h2>Elysium</h2><a href="{% static 'main/images/fulls/01.jpg' %}" class=""><img src="{% static 'main/images/thumbs/04.jpg' %}" alt=""></a></article>

<!--				FUNCIONA, PERO COMO NO TENEMOS SUFICIENTES PRODUCTOS EN LA BDD POR AHORA LO DEJO
					(SI HAY MENOS DE X NUMERO DE PRODUCTOS EN LA BBDD SE DESCUADRA)
					LA IDEA ES QUE SE MUESTREN LOS 10 PRIMEROS PRODUCTOS DE LA QUERY ARRIBA Y LOS 10 SEGUNDOS ABAJO
					-->
<!--				{% for producto in productos2 %}-->
<!--				<article class="item thumb span-1">-->
<!--					<h2 class="white">{{ producto.nombre }}</h2>-->
<!--					<a href="{% url 'producto' id=producto.id%}" class=""><img src="media/{{ producto.imagen0 }}" alt=""></a>-->
<!--				</article>-->
<!--				{% endfor %}-->
			</div>
	</section>
</div>


<!--	TODO poner enlaces en los li-->
<section id="footer">
						<section>
							<p>This is <strong>Parallelism</strong>, a responsive portfolio site template by <a href="http://html5up.net">HTML5 UP</a>. Free for personal
							and commercial use under the <a href="http://html5up.net/license">Creative Commons Attribution</a> license.</p>
						</section>
						<section>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<ul class="copyright">
								<li>© Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://ineedchemicalx.deviantart.com/">Felicia Simion</a></li>
							</ul>
						</section>
					</section>

<script type='text/javascript' src="https://www.bing.com/api/maps/mapcontrol?key={{API_KEY}}"defer async></script>

{% endblock %}