{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load imagekit %}

{% block main %}

<style>
    ::-webkit-scrollbar {
        height: 5px !important;
    }

    .bot-user {
        color: white !important;
        font-size: 1.5em;
        position: relative;
        left: 5px;
    }

    .bot-camera {
            position: relative;
            left: 7px;
    }

    .top-barras {
        display: none !important;
    }

    .top-back {
        display: inline-block !important;
    }
</style>

<div class="container mt-5">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="display-4 pt-5 text-center" style="color:black; position: relative; left: 30px;">
            <img src="{% static 'main/images/logo_letras.svg' %}" alt="" style="width: 200px">
            <i class="far fa-user-circle" style="position: relative; right: 35px;"></i>
        </h1>
        <div class="row mt-5">

            <div class="col-4">
                    <div class="img-logo">
                     {% if user.profile_pic %}
                        <img src="/media/{{ user.profile_pic }}" style="cursor:pointer">
                    {% elif user.socialaccount_set.all.0.get_avatar_url %}
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                    {% else %}
                        <img src="{% static 'main/images/no_user.png' %}" alt=""style="cursor:pointer">
                     {% endif %}
                    <div class="overlay">
                        <form action="{% url 'change-image' %}" id="formImage" method="post" enctype='multipart/form-data'>
                            {% csrf_token %}

                                <label for="changeImage" class="white info" style="cursor: pointer;">{% trans 'edit' %}</label>

                            <input id="changeImage" type="file" name="changeImage" style="display: none;">
                            <input type="submit" class="d-none" id="buttonSubmitImage">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-8">Foto de perfil</div>

            <div class="col-6">
                <label>{% trans 'Name' %}</label>
                {{ form.first_name }}
            </div>
            <div class="col-6">
                <label>{% trans 'Surname' %}</label>
                {{ form.last_name }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <label>Email</label>
                {{ form.email }}
                <input type="text" id="username" style="width:0;height:0;visibility:hidden;position:absolute;left:0;top:0" />
            <input type="password" style="width:0;height:0;visibility:hidden;position:absolute;left:0;top:0" />
            </div>
            <div class="col-6">
                <label>{% trans 'Phone' %}</label>
                {{ form.telefono }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <label>{% trans 'Country' %}</label>
                {{ form.pais }}
            </div>
            <div class="col-6">
                <label>{% trans 'Area' %}</label>
                {{ form.zona }}
            </div>
        </div>

        <!-- TODO Si el usuario es fotografo, hay que anadir un form con cv, alias, foto, foto destacada... -->

        {% if user.tipo_de_usuario ==  'FOTOGRAFO'%}

        <h1 class="display-4 mt-5 black toggle-chk" style="cursor:pointer;" id="photo">
            {% trans 'My Photographer Profile' %}
        </h1>

    <div id="photo-show">
        <div class="row mt-5">
            <div class="col-12">

                <h1 style="font-size: 20px">{% trans 'PAYMENT METHODS' %}</h1>

                <i class="fab fa-stripe fa-7x"></i>

                {% if stripe %}
                <i class="far fa-check-circle fa-3x ml-2 pb-5" style="color: darkseagreen"
                    data-toggle="tooltip" data-placement="top" title="{% trans 'Stripe verified' %}">
                </i>

                <br>
                {% else %}
                    <a href="https://dashboard.stripe.com/oauth/authorize?response_type=code&client_id=ca_GxnZAsopwVt4CWS0PZl4oUT2nlArkDOi&scope=read_write"
                       class="btn btn-primary ml-5" style="margin-bottom: 80px;">
                        Vincular cuenta con Stripe
                    </a>
                {% endif %}

            </div>
            <div class="col-12">
                
            </div>
        </div>
        

        <div class="row mt-5">
            <div class="col-6">
                <label>Alias</label>
                {{ photo_form.alias }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-12 mt-5">
                <label>{% trans 'Profile picture' %}</label>
                {% if user.profile_pic %}
                <img src="/media/{{ user.profile_pic }}" alt="" height="120px" class="mt-2 pb-2"> <br>
                {% endif %}
                {{ photo_form.profile_pic }}
            </div>
            <div class="col-lg-6 col-12 mt-5">
                <label>{% trans 'Main picture' %}</label>
                {% if user.main_pic %}
                    <img src="/media/{{ user.main_pic }}" alt="" height="120px" class="mt-2 pb-2"> <br>
                {% endif %}
                {{ photo_form.main_pic }}
            </div>
        </div>

        <div class="row mt-5">
            <label>Curriculum Vitae</label>
            {{ photo_form.CV }}
        </div>

        <div class="row mt-5">
            <label>Embed code</label>
            <div class="col-12">
                <p class="mt-3">
                    <i class="fas fa-info-circle" style="color: cornflowerblue;"></i>
                    Inserta este código en tu blog personal o en otras páginas para que
                    los clientes puedan acceder a tu perfil de Fluid Surf.
                </p>
            </div>
<xmp style="overflow: scroll; margin-top: -15px;">
<button onclick="location.href='fs.quitiweb.com{% url 'perfil' id=user.id %}'">
    Ver perfil en FluidSurf
</button>
</xmp>

            <input type="text" value="" style="display: none" id="embed-code">


            <div class="col-12 text-center">
                <button type="button" onclick="copiar()" class="btn btn-primary" style="padding-left: 50px; padding-right: 50px;">
                    Copiar
                </button>
            </div>
        </div>
</div>
{% endif %}

        <span class="row toggle-chk mt-5" id="advanced" style="cursor: pointer;">
            <i class="fas fa-cog mr-1 mt-1"></i>
            {% trans 'Press here to open Advanced Options' %}
        </span>

        <div id="advanced-show" class="hide">

            <h2 class="display-4 mt-5" style="font-size: 28px;">
                {% trans 'Change Password' %}
            </h2>

            <div class="row mt-5">
                <div class="col-12">
                    <label>{% trans 'Old Password' %}</label>
                    {{ passform.old_password }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <label>{% trans 'New Password' %}</label>
                    {{ passform.new_password1 }}
                </div>

                <div class="col-6">
                    <label>{% trans 'Repeat your Password' %}</label>
                    {{ passform.new_password2 }}
                </div>
            </div>

        <!-- Comentado por ahora -->
<!--            <h2 class="display-4 mt-5" style="font-size: 28px;">-->
<!--                {% trans 'Change Wishlist' %}-->
<!--            </h2>-->

<!--            <h2 class="display-4 mt-5" style="font-size: 28px;">-->
<!--                {% trans 'View purchase history' %}-->
<!--            </h2>-->

        </div>

    <div class="row">
    <!--  TODO No borro este switch porque nos puede servir en el futuro ya que visualmente esta genial  -->
<!--        <div class="col-6 mt-5">-->
<!--            <label class="switch" id="checkSurf">-->
<!--                <input type="checkbox" id="inputSurfero"class="toggle-chk">-->
<!--                <span class="slider round"></span>-->
<!--            </label>-->
<!--        </div>-->
         <div class="col-12 text-center mt-5 pb-5">
            <input type="submit" id="guardar" value="{% trans 'Save' %}" class="pr-5 pl-5">
        </div>
    </div>
</form>
</div>

<script src="{% static 'main/assets/js/micuenta.js' %}" defer></script>
    <script>
    function copiar() {

        let codigo = document.getElementById('embed-code');
        codigo.value = '<button onclick="location.href=\'fs.quitiweb.com/perfil/{{ user.id }}\'"> Ver perfil en FluidSurf </button>';
        console.log(codigo.value);
        codigo.style.display='block';
        codigo.select();
        document.execCommand('copy')
        codigo.style.display='none';

    }

    </script>
{% endblock %}