{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load imagekit %}

{% block main %}
<div class="container">

    <div class="row">
        <div class="col-12 mt-5">
             <h1 class="display-4 pt-5 text-center" style="color:black; position: relative; left: 30px;">
            <img src="{% static 'main/images/logo_letras.svg' %}" alt="" style="width: 200px">
            <i class="far fa-user-circle" style="position: relative; right: 35px;"></i>
        </h1>
        </div>
    </div>

    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Disponibilidad</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr onclick="location.href='{% url 'producto' id=producto.id %}'" style="cursor: pointer">
                    <th scope="row"><a href="{% url 'producto' id=producto.id %}">{{ producto.nombre }}</a></th>
                    <td>{{ producto.fecha }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{% if producto.stock > 0 %} <i class="fa fa-check"></i> {% else %} <i class="fa fa-times"></i> {% endif %}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}