{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load social_share %}
{% load imagekit %}

{% block main %}

    <div class="w-100 card mt-5 pt-3">
        <div class="row img-logo h-100 text-center" style="background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.2)), url('/media/{{ user.main_pic }}') no-repeat; background-size:cover; background-position: center; min-height: 500px;">
            <div class="col-lg-4"></div>
            <div class="card col-12 col-lg-4 mt-4 text-center" style="margin-bottom:15px;">
                 <div class="card-body text-center">
                     {% if user.profile_pic %}
                        <img src="/media/{{ user.profile_pic }}" class="rounded-circle center-block img-responsive mt-3" style="width: 150px; margin: 0 auto; "/>
                     {% endif %}
                     <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                     <p>{% trans 'PHOTOGRAPHER' %}</p>
                     <p><i class="fas fa-map-marker-alt"></i> {{ user.zona }}</p>
                     <p class="text-center mt-5 pb-5">{{ user.CV }}</p>
                 </div>
             </div>
        </div>
    </div>

<div class="row text-center mt-5">
    <div class="col-12">
        <h1 class="display-4" style="font-size: 40px;">{% trans 'Products uploaded by' %} {{ user.first_name }}</h1>
    </div>
</div>

<div class="row p-5">
    {% for producto in productos %}
    <div class="card col-lg-3  col-12 mt-5 ml-1">
        {% generateimage 'home:watermark' source=producto.imagen0 -- class='card-img-top' style='object-fit:cover; margin-left: -10px;' height='200'%}
      <div class="card-body">
        <h5 class="card-title text-left">{{ producto.nombre }}</h5>
        <p class="card-text text-left">{% trans 'Date' %}: {{ producto.fecha }} <br>
                             {% trans 'Price' %}: <strong style="color:black;"> {{ producto.precio }} € </strong> <br>
                             {% trans 'Uploaded by' %}:
                                {% if producto.user.alias %}
                                {{ producto.user.alias }}
                                {% else %}
                                {{ producto.user.first_name }} {{ producto.user.last_name }}
                            {% endif %}
        </p>
        <a href="{% url 'producto' id=producto.id %}" class="btn btn-primary mt-3">{% trans 'Go to product' %}</a>
      </div>
    </div>
{% endfor %}
</div>

{% endblock %}