{% extends 'home/base-p.html' %}

{% load static %}
{% load i18n %}
{% load social_share %}
{% load imagekit %}

{% block main %}

{% if usuario.is_active %}
 <script type='text/javascript'>
        var map;
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map('#myMap', {
				 zoom: 1
        });

        var center = map.getCenter();
        {% for ubicacion in ubicaciones %}

        var punto = new Microsoft.Maps.Location({{ubicacion.geoloc}});

        //Create custom Pushpin
        var pin = new Microsoft.Maps.Pushpin(punto, {
			title: '{{ ubicacion.spot }}',
            subTitle: '',
        });


        //Add the pushpin to the map
        map.entities.push(pin);

         Microsoft.Maps.Events.addHandler(pin, 'click', function () {
         	window.location.href = "{% url 'zona' nombre=ubicacion.spot %}";
         });

        {% endfor %}
        }
        </script>


    <div id="wrapper">
	<section id="main">
		<!-- Items -->
			<div class="items">
				{% if usuario.tipo_de_usuario == 'FOTOGRAFO' and usuario.main_pic %}
				<div class="item intro span-2" style="background: url(/media/{{ usuario.main_pic }}) !important;">
                    {% else %}
                <div class="item intro span-2" style="">
                    {% endif %}
					<h1 class="white">Perfil de {{ usuario.username }}</h1>
						<p class="white">{{ usuario.tipo_de_usuario }}</p>
                     <p class="white"><i class="fas fa-map-marker-alt"></i> {{ usuario.zona }}</p>
					{% if request.user == usuario %}
						<a class="btn btn-primary float-right mt-3 white" href="">
							<i class="fas fa-edit"></i> Editar perfil
						</a>
					{% else %}

						<a class="btn btn-danger float-right mt-3 white" href="" data-toggle="modal" data-target="#reportModal">
							<i class="fas fa-user-slash"></i> Denunciar perfil
						</a>

					{% endif %}
				</div>
					<div class="item intro intro2 span-2">
					<h1 class="white">{% trans 'Browser' %}</h1>
					<form action="" method="get" class="mt-3">
                        <div class="row">
							<div class="col-6">{{ filter.form.nombre }}</div>
							<div class="col-6">{{ filter.form.spot  }}</div>
						</div>
                        <input type="submit" class="btn btn-primary mt-3 d-none">
                    </form>
				</div>
				<div class="item intro3 span-2">
					<body class="text-center" onload='loadMapScenario();'>
					  <div id='printoutPanel'></div>
						<div id='myMap' class="mt-1" style=""></div>
					</body>
				</div>
				{% for producto in filter.qs|slice:"4:7"  %}
				<article class="item thumb span-3">
					<h2 class="white">{{ producto.nombre }}</h2>
					<a href="{% url 'producto' id=producto.id%}" class="">
						{% generateimage 'home:watermark' source=producto.imagen0 -- class='d-block w-100' style='object-fit:cover' height='400' %}
					</a>
				</article>
				{% endfor %}

			</div>

		<!-- Items -->
			<div class="items">
				<div class="item intro span-3" style="background-color: #58949C;">
					<h1 class="white">{% trans 'About' %} {{ usuario.username }}
					{% if usuario.profile_pic %}
                        <img src="/media/{{ usuario.profile_pic }}" class="rounded-circle float-right" height="75" width="75">
                     {% else %}
                        <img src="{% static 'main/images/no_user.png' %}" alt="" class="rounded-circle float-right" height="75" width="75">
                     {% endif %}</h1>
					{% if usuario.CV is not None %}
						<p class="white">{{ usuario.CV }}</p>
					{% else %}
						<p class="">{% trans "This user hasn't completed their profile yet" %}</p>
					{% endif %}
				</div>
				{% for producto in filter.qs|slice:"1:4" %}
				<article class="item thumb span-3">
                    <h2 class="white">{{ producto.nombre }}</h2>
                    <a href="{% url 'producto' id=producto.id%}">
                        {% generateimage 'home:watermark' source=producto.imagen0 -- class='d-block w-100' style='object-fit:cover' height='400' %}
                    </a>

				</article>
				{% endfor %}
			</div>
		</div>
	</section>
</div>

<!-- Modal -->
<div class="modal fade mt-5" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title display-4" id="exampleModalLabel" style="font-size:36px;">{% trans 'Report an user' %}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form action="" method="POST">
	  {% csrf_token %}
      <div class="modal-body">
		<div class="row">
			<div class="col-12">
				<label for="id_motivo">{% trans 'Reason' %}</label>
				{{ form.motivo }}
			</div>

			<div class="col-12">
				<label for="id_detalles">{% trans 'Details' %}</label>
				{{ form.detalles }}
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Report'  %}</button>
      </div>
	</form>
    </div>
  </div>
</div>

<script type='text/javascript' src="https://www.bing.com/api/maps/mapcontrol?key={{API_KEY}}"defer async></script>
{% else %}
<div class="container text-center">
	<div class="row">
		<div class="col-12 card justify-content-center" style="height: 100vh; background: transparent; border: transparent;">
			<strong class="display-1">Usuario suspendido</strong>
			<a href="{% url 'index' %}" class="btn btn-primary mt-3">Volver a FluidSurf</a>
		</div>
	</div>
</div>
{% endif %}

<section id="footer" class="pt-5">
	<section class="white">
		<p>{% trans 'Connecting photographers and surfers' %}</p>
	</section>
	<section>
		<ul class="icons">
			<li>{% post_to_twitter "Echale un ojo a FluidSurf!" request.get_full_path  %}</li>
			<li>{% post_to_facebook object_or_url "" %}</li>
			<li>{% send_email "Echale un ojo a FluidSurf!" object_or_url "Share via email"%}</li>
			<li>{% post_to_telegram "Echale un ojo a FluidSurf!" request.get_full_path %}</li>
		</ul>
		<ul class="copyright white">
			<li><a href="https://quitiweb.com/" class="white">© Quitiweb</a></li><li>Design: HTML5 UP</li>
		</ul>
	</section>
</section>

{% endblock %}