{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load social_share %}
{% load imagekit %}

{% block main %}

<div class="container">

    <div class="row text-center mt-5 pt-5">
        <div class="col-12">
            <h1 class="display-1" style="font-size: 60px;">
                {{ producto.nombre }}
            </h1>
            <p class="float-right mr-5">{% trans 'Uploaded by' %}
                {% if producto.user.alias %}
                <a href="{% url 'perfil' nombre=producto.user.alias %}">{{ producto.user.alias }}</a>
                {% else %}
                    {{ producto.user.first_name }} {{ producto.user.last_name }}
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row mt-5 text-center">
<!--        <div class="col-lg-3"></div>-->
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for imagen in imagenes %}
                  {% if forloop.first %}
                    <div class="carousel-item active" data-toggle="modal" data-target="#exampleModal{{forloop.counter}}" style="cursor: pointer;">
                  {% else %}
                    <div class="carousel-item" data-toggle="modal" data-target="#exampleModal{{forloop.counter}}" style="cursor: pointer;">
                  {% endif %}
                      {% generateimage 'home:watermark' source=imagen -- class="d-block w-100" style="object-fit:cover" height="400" %}
                    </div>

                    <!--  Modal que muestra la vista detalle de la imagen  -->
                    <div class="modal fade bd-example-modal-lg modalFull pb-5 mt-5 pt-4" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg modal-dialogFull " role="document">
                        <div class="modal-content modal-contentFull ">
                          <div class="modal-body">
                            {% generateimage 'home:watermark' source=imagen -- class="d-block w-100" style="object-fit:cover" height="100%"%}
                          </div>
                          <div class="modal-footer">
                              <div class="col-6 text-left row mb-5">
                                  <div class="col-lg-6 mb-5">
                                      <strong class="black">{% trans 'Area' %}:</strong> {{ producto.spot }} <br>
                                      <strong class="black">{% trans 'Date' %}:</strong> {{ producto.fecha }} <br>
                                      <strong class="black">{% trans 'Uploaded by' %}: </strong>
                                          {% if producto.user.alias %}
                                              <a href="{% url 'perfil' nombre=producto.user.alias %}">{{ producto.user.alias }}</a>
                                          {% else %}
                                                {{ producto.user.first_name }} {{ producto.user.last_name }}
                                          {% endif %}
                                  </div>
                                  <div class="col-lg-6">
                                      <strong class="black">{% trans 'Price' %}:</strong> {{ producto.precio }} €<br>
                                  </div>
                              </div>
                              <div class="col-6 text-right">
                                  <button type="button" class="btn btn-secondary mr-2 mt-1" data-dismiss="modal">{% trans 'Close' %}</button>
                                  <button type="button" class="btn btn-primary ml-2 mt-1">{% trans 'I want it!' %}</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}

              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <h1 class="display-1 text-right mr-3" style="font-size: 40px;">
                {% trans 'Price' %}: {{ producto.precio }}€
            </h1>
        </div>
    </div>

    <div class="row text-center mt-5 pb-5">
        <div class="col-lg-6 col-12 mt-3">
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="pr-5 pl-5 btn btn-secondary" name="wishlist">{% trans 'I want it!' %}</button>
            </form>
        </div>

        <div class="col-lg-6 col-12 mt-3">
            <form action="{% url 'charge' %}" method="post">
              {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description="A Django Charge"
                    data-amount="500"
                    data-locale="auto">
            </script>
                <script>
                      document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>

                <button type="submit" class="btn btn-primary">{% trans 'Buy now' %}</button>
            </form>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-12 mb-2">
            <h1>{% trans 'Share on Social Media' %}</h1>
        </div>
            {% post_to_twitter "Mira el producto que acabo de encontrar en fluidsurf!" request.get_full_path  %}

            {% post_to_facebook object_or_url "" %}

            {% send_email "Mira este producto en fluidsurf!" "Acabo de encontrar este producto en fluid surf. Puede ser perfecto para ti!" object_or_url "Share via email"%}

            {% post_to_telegram "Mira el producto que acabo de encontrar en fluidsurf!" request.get_full_path %}

    </div>

</div>
</div>
{% endblock %}