{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}
{% load social_share %}
{% load imagekit %}

{% block main %}
<div class="container mt-5 pt-5 pb-5">

<h1 class="display-4">{% trans 'Secure payments' %}</h1> <br>

    <div class="row">
        <div class="col-12">
            <img src="{{ payments.image.url }}" alt="">
        </div>
    </div>

    {% if LANGUAGE_CODE == 'en'  %}
        {% autoescape off %}
            {{ payments.text_en }}
        {% endautoescape %}
    {% else %}
        {% autoescape off %}
            {{ payments.text }}
        {% endautoescape %}
    {% endif %}
</div>


{% endblock %}