{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}

{% block main %}

<div class="container pt-5">
    <div class="row text-center mt-5">
        <div class="col-12">
            <h2 class="display-4">{% trans 'Add product' %}</h2>
            <span class="hide" id="current">{{ current }}</span>
        </div>
    </div>

    <form action="" method="post" enctype='multipart/form-data'  autocomplete="off">

        {% csrf_token %}

        <div class="row mt-5">
            <div class="col-9">
                <label>{% trans 'Name' %}</label>
                {{ form.nombre }}
            </div>

            <div class="col-3">
                <label>{% trans 'Price' %}</label>
                {{ form.precio }}
            </div>
        </div>

        <!-- date & spot -->
        <div class="row mt-5">
            <div class="col-6">
                <label>{% trans 'Date' %}</label>
                {{ form.fecha }}
            </div>
            <div class="col-6">
                <label>{% trans 'Spot' %}</label>
                {{ form.spot }}
            </div>
        </div>

        <!-- file upload
        Puedes añadir hasta 10 fotos para tu Producto. Recuerda que cada foto puede pesar como mucho 5MB y
                el total de todas 25MB.-->
        <div class="row mt-5 text-center">
            <div class="col-12 text-center">
                <div class="span" style="color: #C2C2C2">
                    {% trans 'You can upload until 10 pictures for your product. Remember that each picture cannot be larger than 5MB and all together cannot be over 25MB' %}
                </div>
            </div>
<!--Sube las fotos de tu producto-->
            <div class="col-12 mt-5">
                <h1 class="display-1" style="font-size: 32px;">{% trans "Upload your product's pictures" %}</h1>
            </div>

            <div class="col-12 mt-3">
                <label for="id_imagen0" class="customInputArea p-5" id="form0">
                    <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen0 }}
                </label>
                <label for="id_imagen1" class="customInputArea p-5 hide" id="form1">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen1 }}
                </label>
                <label for="id_imagen2" class="customInputArea p-5 hide" id="form2">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen2 }}
                </label>
                <label for="id_imagen3" class="customInputArea p-5 hide" id="form3">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen3 }}
                </label>
                <label for="id_imagen4" class="customInputArea p-5 hide" id="form4">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen4 }}
                </label>
                <label for="id_imagen5" class="customInputArea p-5 hide" id="form5">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen5 }}
                </label>
                <label for="id_imagen6" class="customInputArea p-5 hide" id="form6">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen6 }}
                </label>
                <label for="id_imagen7" class="customInputArea p-5 hide" id="form7">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen7 }}
                </label>
                <label for="id_imagen8" class="customInputArea p-5 hide" id="form8">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen8 }}
                </label>
                <label for="id_imagen9" class="customInputArea p-5 hide" id="form9">
                   <span>{% trans 'Click or drag over here to upload your images' %}</span> <br>
                    <span class="textFiles"></span>
                    {{ form.imagen9 }}
                </label>
            </div>
        </div>

        <div class="row text-center mt-5 pb-5">
            <div class="col-12">
                <input type="submit" value="{% trans 'Save' %}" class="pr-5 pl-5">
            </div>
        </div>
    </form>
</div>

<script src="{% static 'main/assets/js/subir-producto.js' %}" defer></script>

{% endblock %}