{% extends 'home/base.html' %}

{% load static %}
{% load i18n %}

{% block main %}

<div class="container">
    <div class="row text-center mt-5">
        <div class="col-12">
            <h2 class="display-4">{% trans 'Add product' %}</h2>
        </div>
    </div>

    <form action="" method="post" enctype='multipart/form-data'>

        {% csrf_token %}

        <div class="row mt-5">
            <div class="col-9">
                <label>{% trans 'Name' %}</label>
                {{ form.nombre }}
            </div>

            <div class="col-3">
                <label>{% trans 'Price' %}</label>
                {{ form.precio }}
            </div>
        </div>

        <!-- date & spot -->
        <div class="row mt-5">
            <div class="col-6">
                <label>{% trans 'Date' %}</label>
                {{ form.fecha }}
            </div>
            <div class="col-6">
                <label>{% trans 'Spot' %}</label>
                {{ form.spot }}
            </div>
        </div>

        <!-- file upload -->
        <div class="row mt-5 text-center">
            <div class="col-12 text-center">
                <div class="span" style="color: #C2C2C2">
                    Puedes añadir hasta 10 fotos para tu Producto. Recuerda que cada foto puede pesar como mucho 5MB y
                el total de todas 25MB.
                </div>
            </div>

            <div class="col-12 mt-5">
                <h1 class="display-1" style="font-size: 32px;">Sube la <span id="textoFoto">primera</span> foto</h1>
            </div>

            <div class="col-12 mt-3">
                {{ form.imagen0 }}
                {{ form.imagen1 }}
                {{ form.imagen2 }}
                {{ form.imagen3 }}
                {{ form.imagen4 }}
                {{ form.imagen5 }}
                {{ form.imagen6 }}
                {{ form.imagen7 }}
                {{ form.imagen8 }}
                {{ form.imagen9 }}
            </div>
        </div>

        <div class="row text-center mt-5">
            <div class="col-12">
                <input type="submit" value="Guardar" class="pr-5 pl-5">
            </div>
        </div>
    </form>
</div>


<script src="{% static 'main/assets/js/subir-producto.js' %}" defer></script>

{% endblock %}