/* Member */

	.member {
		background-color: #FFFFFF;
		padding: 3em 20em;
	}

		.member .inner {
			padding: 3em;
			margin: 0 auto;
			width: 90%;
		}

    #network .icon,
    #suggest .icon {
        padding: 0 15px 15px 0;
        width: 65px;
        height: 60px;
    }

		@media screen and (max-width: 1680px) {
            .member {
                padding: 3em 17em;
            }
		}

		@media screen and (max-width: 1330px) {
            .member {
                padding: 3em 13.5em;
            }
		}

		@media screen and (max-width: 980px) {

            .member {
                padding: 3em 8em;
            }

            .member .inner {
                padding: 2.5em;
                width: 100%;
            }

		}

		@media screen and (max-width: 736px) {

			.member {
				padding: 1.5em;
			}

				.member .inner {
					padding: 2em 1em ;
				}

		}

		@media screen and (max-width: 360px) {

			.member {
				padding: 1em;
			}

			.member .inner {
				padding: 1.75em 0.5em ;
			}

		}
