{% load static %}

<section id="tab1" class="mt-5">
    <div class="container">
        <div class="row aln-center">
            <div class="card col-12">
              <div class="card-body">
                  {% if recibidas %}
                  {% for recibida in recibidas %}
                  <div class="row mb-3" onclick="location.href='../perfil-kradeler/{{ recibida.emisor.username }}'">
                    <div class="col-2">
                        <img src="/static/main/images/joe_gardner.jpg" class="card-img-title" alt="" style="width: 50px; height:50px; cursor:pointer;">
                    </div>

                    <div class="col-6">
                        <strong style="cursor:pointer;">{{ recibida.emisor.first_name }} {{ recibida.emisor.last_name }}</strong>
                        <p>{{ recibida.emisor.titular }}</p>
                    </div>

                    <div class="col-3">
                        <form action="" method="POST">
                            <div class="row">
                                {% csrf_token %}
                                <div class="col-6">
                                    <input type="submit" name="rechazar" id="botonCancelarSolicitud" value="{{ recibida.emisor.username }}">
                                </div>
                                <div class="col-6">
                                    <input type="submit" name="aceptar" id="botonAceptarSolicitud-" value="{{ recibida.emisor.username }}">
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                    <p class="text-center">No tienes solicitudes de conexión pendientes ahora mismo :(</p>
                  {% endif %}
              </div>
            </div>
        </div>
        </div>
</section>

<section id="tab2" class="mt-5 hide">
    <div class="container">
        <div class="row aln-center">
            <div class="card col-12">
              <div class="card-body">
                  {% if enviadas %}
                  {%  for enviada in enviadas %}
                  <div class="row mb-3" onclick="location.href='../perfil-kradeler/{{ enviada.receptor.username }}'">
                    <div class="col-2">
                        <img src="/static/main/images/joe_gardner.jpg" class="card-img-title" alt="" style="width: 50px; height: 50px; cursor:pointer;">
                    </div>

                    <div class="col-6">
                        <strong style="cursor: pointer;">{{ enviada.receptor.first_name }}  {{ enviada.receptor.last_name }}</strong>
                        <p>Directora comercial de Festela</p>
                    </div>

                    <div class="col-3">
                        <form action="" method="POST">
                            <div class="row">
                                {% csrf_token %}
                                 <input type="submit" name="cancelar" id="botonCancelarSolicitudEnviada" value="{{ enviada.receptor.username }}">
                            </div>
                         </form>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                    <p class="text-center">No tienes solicitudes de conexión pendientes ahora mismo. Amplía tu red de contactos en
                        <a href="market" style="color: var(--morado);">Kradleco Market</a></p>
                  {% endif %}
              </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-5">
     <div class="row mt-5">
                <div class="col-12 text-left float-left"><h3>MIS CONTACTOS</h3></div>
        </div>

    <div class="row mt-2">
        <div class="card col-12">
            <div class="card-body">
                {% if aceptadas_receptor %}
                    {% for r in aceptadas_receptor %}
                        <a href="{% url 'perfil-kradeler-market' r.emisor.username %}">
                            {% if r.emisor.foto_perfil %}
                                <img src="{{ r.emisor.foto_perfil.url }}" class="card-img-title mr-0" style="width: 50px;">
                            {% else %}
                                <img src="{% static 'main/images/joe_gardner.jpg' %}" class="card-img-title mr-0" style="width: 50px;" />
                            {% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
                {% if aceptadas_emisor %}
                    {% for e in aceptadas_emisor %}
                        <a href="{% url 'perfil-kradeler-market' e.receptor.username %}">
                            {% if r.receptor.foto_perfil %}
                                <img src="{{ r.receptor.foto_perfil.url }}" class="card-img-title mr-0" style="width: 50px;">
                            {% else %}
                                <img src="{% static 'main/images/joe_gardner.jpg' %}" class="card-img-title mr-0" style="width: 50px;" />
                            {% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
                <span style="color: #A5ADBB;" class="align-self-center ml-3">
                    <a href="mis-contactos" class="float-right mt-3"><i class="fas fa-chevron-right"></i>   ver más</a>
                </span>
            </div>
        </div>
    </div>
</div>