{% load static %}
{% load templatetags %}

<section id="tab1" class="container">
    <div class="container mt-5">
        <div class="inner">

            <div class="row justify-content-center">
                <div id="relac-comer-btn" class="col-xl-6">
                     <a href="#" class="button gris fit text-center"><i class="fas fa-search"></i> Filtrar</a>
                </div>

            <!-- Se abre estado-btn -->
                <div id="estado-btn" class="col-12 hide">
                    <form method="get" class="">
                        {{ propuestas_filter.form.as_p }}
                        <div class="row justify-content-center">
                            <div class="col-12 mt-5">
                                <h5>Estado</h5>
                            </div>
                            <div class="col-6">
                                Recibidas
                            </div>
                            <div class="col-6 text-right">
                                <input id="relac-comer-1" type="checkbox" class="toggle-chk" />
                                            <label for="relac-comer-1"><span></span></label>
                            </div>
                             <div class="col-6">
                                Enviadas
                            </div>
                            <div class="col-6 text-right">
                                <input id="relac-comer-2" type="checkbox" class="toggle-chk" />
                                            <label for="relac-comer-2"><span></span></label>
                            </div>
                            <div class="col-6">
                                Pendientes
                            </div>
                            <div class="col-6 text-right">
                                <input id="relac-comer-3" type="checkbox" class="toggle-chk" />
                                            <label for="relac-comer-3"><span></span></label>
                            </div>
                            <div class="col-6">
                                Rechazadas
                            </div>
                            <div class="col-6 text-right">
                                <input id="relac-comer-4" type="checkbox" class="toggle-chk" />
                                            <label for="relac-comer-4"><span></span></label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="align-center text-center">Actualizar búsqueda</button>
                        </div>

                    </form>
                </div>

                <div class="w-100 mb-4"></div>

                {% for propuesta in propuestas_filter.qs %}
                {% if propuesta.estado == "PENDIENTE" %}
                     <div id="{{ forloop.counter }}-relac-comer-btn" class="col-xl-7 mt-5 toggle-chk" style="cursor: pointer;">
                         <a href="#" class="col-5"><b>{{ propuesta.nombre }}</b></a>
                         <i class="fas fa-chevron-right float-right"></i>
                         {% if propuesta.emisor.is_empresa %}
                            <p class="col-5">Miembro de una empresa</p>
                         {% else %}
                            <p>Autónomo</p>
                         {% endif %}
                         <p>{{ propuesta.emisor.username }}</p>
                    </div>
                 <!-- Se abre Pendiente -->
                <div id="{{ forloop.counter }}-relac-comer-btn-show" class="col-12 hide card" style="cursor:pointer;" data-toggle="modal" data-target="#modal{{propuesta.emisor}}-{{propuesta.receptor}}">
                    <div class="row justify-content-center">
                        <div class="w-100"></div>

                        <div id="pendiente-btn hide" class="col-12 mt-2">
                            {% if propuesta.is_cancelada %}
                                <strong><span style="color:red">Cancelada</span></strong>
                            {% elif propuesta.estado == "PREACEPTADA" %}
                                 <strong><span style="color:green">Preaceptada</span></strong>
                            {% else %}
                               <strong><span style="color:purple">Pendiente</span></strong>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <div class="card-body">
                                <div class="col-2">
                                    {%  if propuesta.emisor == request.user %}
                                        <img src="{{ propuesta.receptor.foto_perfil.url }}" class="card-img-title" style="width: 80px; height: 80px;" />
                                    {% else %}
                                        <img src="{{ propuesta.emisor.foto_perfil.url }}" class="card-img-title" style="width: 80px; height: 80px;" />
                                    {% endif %}
                                </div>
                                <div class="col-10">
                                    <h5 class="card-title">
                                        {%  if propuesta.emisor == request.user %}
                                            <a href="/perfil-kradeler/{{propuesta.receptor}}" class="link-noparent">{{ propuesta.receptor }}</a>
                                        {% else %}
                                            <a href="/perfil-kradeler/{{propuesta.emisor}}" class="link-noparent">{{ propuesta.emisor }}</a>
                                        {% endif %}
                                    </h5>
                                <p class="card-job">
                                    {%  if propuesta.emisor == request.user %}
                                        <small>{{ propuesta.receptor.titular }}</small>
                                    {% else %}
                                        <small>{{ propuesta.emisor.titular }}</small>
                                    {% endif %}
                                    <a href="#" class="ml-3"><i class="far fa-envelope fa-2x fa-lg"></i></a>
                                </p>
                                </div>


                            </div>
                        </div>
                    <form action="" method="POST">{% csrf_token %}
                        <div class="row mr-3">

                            {%  if propuesta.emisor == request.user %}
                                <div class="col text-center">
<!--                                    <a href="market/propuesta/{{ propuesta.receptor.username }}" id="botonModificarPropuesta" name="modificar" class="btn-link">-->
                                        <button type="button" class="btn-link link-noparent" onclick="location.href='market/propuesta/{{ propuesta.receptor.username }}'">
                                            <i class="far fa-edit fa-2x fa-lg" style="color:black;"></i>
                                        </button>
<!--                              to    </a>-->
                                    <h3 class="mt-3 text-center">Modificar</h3>
                                </div>
                                <div class="col text-center">
                                    <button class="btn-link link-noparent" name="cancelar" value="{{ propuesta.receptor.username }}">
                                        <i class="fas fa-times fa-2x fa-lg" style="color:#C5C5C5;"></i>
                                    </button>
                                    <h3 class="mt-3 text-center">Cancelar</h3>
                                </div>
                                <div class="col text-center">
                                    {% if propuesta.modificaciones_receptor == 1 %}
                                    <form action="" method="post">
                                        <button type="submit" class="btn-link link-noparent" name="aceptar" value="{{ propuesta.receptor.username }}"><i class="fas fa-check fa-2x fa-lg"></i></button>
                                        <h3 class="mt-3 text-center">Pre-Aceptar</h3>
                                            </form>
                                    {% else %}
                                    <input type="submit" id="botonAceptarPropuesta" class="btn-link link-noparent" name="aceptar" disabled>
                                    <h3 class="mt-3 text-center" style="color:#C5C5C5;">Pendiente</h3>
                                    {% endif %}
                                </div>
                                {% else %}
                                <div class="col text-center">
                                    {% if propuesta.modificaciones_receptor == 0 %}
                                        <button type="button" class="btn-link link-noparent" onclick="location.href='market/propuesta/{{ propuesta.emisor.username }}'">
                                            <i class="far fa-edit fa-2x fa-lg" style="color:black;"></i>
                                        </button>
                                    <h3 class="mt-3 text-center" style="color:black;">Modificar</h3>
                                    {% else %}
                                        <button disabled class="btn-link link-noparent">
                                            <i class="far fa-edit fa-2x fa-lg"></i>
                                        </button>
                                    <h3 class="mt-3 text-center" style="color:#C5C5C5;">Modificar</h3>
                                    {% endif %}

                                </div>
                                <div class="col text-center">
                                    <button type="submit" class="btn-link link-noparent" name="rechazar" value="{{ propuesta.emisor.username }}">
                                        <i class="fas fa-times fa-2x fa-lg"></i>
                                    </button>
                                    <h3 class="mt-3 text-center">Rechazar</h3>
                                </div>
                                <div class="col text-center">
                                    {% if propuesta.estado == "PREACEPTADA" or propuesta.modificaciones_receptor == 1 %}
                                    <button type="submit" class="btn-link"  disabled name="aceptar" value="{{ propuesta.emisor.username }}"><i class="fas fa-check fa-2x fa-lg"></i></button>
                                    <h3 class="mt-3 text-center" style="color: #C5C5C5;">Pre-Aceptar</h3>
                                    {% else %}
                                    <button type="submit" class="btn-link link-noparent" name="aceptar" value="{{ propuesta.emisor.username }}"><i class="fas fa-check fa-2x fa-lg"></i></button>
                                    <h3 class="mt-3 text-center">Pre-Aceptar</h3>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </div></form>
                    </div>
                </div>

                <br>


            <!--      DECLARACION DE MODAL          -->
            <div class="modal fade mb-5 pt-5" id="modal{{propuesta.emisor}}-{{propuesta.receptor}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Propuesta comercial</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                     <div class="container">
                        <div class="row justify-content-left pt-2">
                            <div class="col-12 text-left">

                                 <div class="col-xl-12 text-center">
                                     <h2>{{ propuesta.nombre }}</h2>
                                     {%  if propuesta.emisor == request.user %}
                                        <a href="/perfil-kradeler/{{propuesta.receptor}}">{{ propuesta.receptor }}</a>
                                     {% else %}
                                        <a href="/perfil-kradeler/{{propuesta.emisor}}">{{ propuesta.emisor }}</a>
                                     {% endif %}
                                </div>

                                <div class="row col-12 text-left">
                                     <div class="col-10 mt-4">
                                        <div class="card-body">
                                            {%  if propuesta.emisor == request.user %}
                                                <img src="{{ propuesta.receptor.foto_perfil.url }}" class="card-img-title col-5" />
                                            {% else %}
                                                <img src="{{ propuesta.emisor.foto_perfil.url }}" class="card-img-title col-5" />
                                            {% endif %}

                                            <h5 class="card-title col-7">
                                                {%  if propuesta.emisor == request.user %}
                                                    {{ propuesta.receptor.first_name }} {{ propuesta.receptor.last_name }}
                                                {% else %}
                                                    {{ propuesta.emisor.first_name }} {{ propuesta.emisor.last_name }}
                                                {% endif %}
                                            </h5>
                                            <p class="card-job">
                                                {%  if propuesta.emisor == request.user %}
                                                    {{ propuesta.receptor.titular }}
                                                {% else %}
                                                    {{ propuesta.emisor.titular }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-2 mt-5">
                                        <a href=""><i class="far fa-envelope fa-2x fa-lg mt-3" ></i></a>
                                    </div>
                                </div>
                                <div class="w-100 mt-5"></div>
                                <div class="row aln-center mt-5">
                                    <div class="col-9 text-center">
                                        <p><b>Ver su perfil en redes sociales</b></p>
                                    </div>
                                    <div class="col-9 text-center mr-2">
                                    {%  if propuesta.emisor == request.user%}
                                        <a href="{{ propuesta.receptor.facebook }}"><i class="fab fa-facebook fa-2x mr-3"></i></a>
                                        <a href="{{ propuesta.receptor.linkedin }}"><i class="fab fa-linkedin fa-2x mr-3"></i></a>
                                        <a href="{{ propuesta.receptor.youtube }}"><i class="fab fa-youtube fa-2x"></i></a>
                                    {% else %}
                                        <a href="{{ propuesta.emisor.facebook }}"><i class="fab fa-facebook fa-2x mr-3"></i></a>
                                        <a href="{{ propuesta.emisor.linkedin }}"><i class="fab fa-linkedin fa-2x mr-3"></i></a>
                                        <a href="{{ propuesta.emisor.youtube }}"><i class="fab fa-youtube fa-2x"></i></a>
                                    {% endif %}
                                    </div>
                                    <div class="col-12"><hr class="hr mr-2" /></div>
                                         <div class="col-7">
                                            <h3 class="mt-3">Estado de la propuesta:</h3>
                                        </div>
                                        <div class="col-5 text-left mt-3">
                                            <span style="color:purple">{{ propuesta.estado }}</span>
                                        </div>
                                    <div class="col-12 mt-2 text-left">
                                        <h3 class="text-left mt-3">Fotos del espacio</h3>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-5"><h3 class="mt-5 text-left"><strong>Alquiler</strong></h3>
                                            {% if not propuesta.fecha_desde|plus_days:30 > propuesta.fecha_hasta %}
                                                <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar1"
                                                   placeholder="00000 €" value="{{propuesta.precio_mes_propuesto }} € / mes"/>
                                            {% elif not propuesta.fecha_desde|plus_days:7 > propuesta.fecha_hasta %}
                                                <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar1"
                                                   placeholder="00000 €" value="{{propuesta.precio_semana_propuesto }} € / semana"/>
                                            {% else %}
                                                <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar1"
                                                   placeholder="00000 €" value="{{propuesta.precio_dia_propuesto }} € / día"/>
                                            {% endif %}
                                        </div>
                                        <div class="col-5"><h3 class="mt-5 text-left"><strong>% Sobre las ventas</strong></h3>
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar3"
                                                   placeholder="X %" value="{{ propuesta.porcentaje_ventas_propuesto }} %"/>
                                        </div>
                                        <div class="col-4"><h3 class="mt-5 text-left"><strong>Fecha inicio</strong></h3>
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar4"
                                                   placeholder="DD/MM/AAAA" value="{{ propuesta.fecha_desde|date:'d/m/Y' }} "/>
                                        </div>
                                        <div class="col-4"><h3 class="mt-5 text-left"><strong>Fecha fin</strong></h3>
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar5"
                                                   placeholder="DD/MM/AAAA" value="{{ propuesta.fecha_hasta|date:'d/m/Y' }}"/>
                                        </div>
                                        <div class="col-3"><h3 class="mt-5 text-left"><strong>Total fijo</strong></h3>
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar6"
                                                   placeholder="0000€" value="{{ propuesta.precio_total_propuesto }} €"/>
                                        </div>
                                        <div class="col-10"><h3 class="mt-5 text-left"><strong>Metros cuadrados necesitados</strong></h3>
                                            {% if propuesta.metros_cuadrados == None %}
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar2"
                                                   placeholder="x metros" value="0 metros"/>
                                            {% else %}
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar2"
                                                   placeholder="x metros" value="{{ propuesta.metros_cuadrados }} metros"/>
                                            {% endif %}
                                        </div>
                                        <div class="col-10"><h3 class="mt-5 text-left"><strong>¿Necesita mobiliario?</strong></h3></div>
                                        <div class="col-10">
                                            {% if propuesta.is_necesita_mobiliario %}
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar7"
                                                   placeholder="mobiliario" value="Sí"/>
                                            {% else %}
                                            <input disabled class="w-90 white-bg" type="text" name="buscar" id="npt-buscar7"
                                                   placeholder="mobiliario" value="No"/>
                                            {% endif %}
                                        </div>
                                        <div class="w-100 mt-5"></div>
                                        <form action="" method="POST" class="col-12 text-center">{% csrf_token %}
                                            <div class="row mr-5">
                                                {%  if propuesta.emisor == request.user%}
                                                    <div class="col text-center">
                    <!--                                    <a href="market/propuesta/{{ propuesta.receptor.username }}" id="botonModificarPropuesta" name="modificar" class="btn-link">-->
                                                            <button type="button" class="btn-link" onclick="location.href='market/propuesta/{{ propuesta.receptor.username }}'">
                                                                <i class="far fa-edit fa-2x fa-lg" style="color:black;"></i>
                                                            </button>
                    <!--                                    </a>-->
                                                        <h3 class="mt-3 text-center">Modificar</h3>
                                                    </div>
                                                    <div class="col text-center">
                                                        <button class="btn-link" name="cancelar" value="{{ propuesta.receptor.username }}">
                                                            <i class="fas fa-times fa-2x fa-lg" style="color:#C5C5C5;"></i>
                                                        </button>
                                                        <h3 class="mt-3 text-center">Cancelar</h3>
                                                    </div>
                                                    <div class="col text-center">
                                                        <input type="submit" id="botonAceptarPropuesta" class="btn-link" name="aceptar" disabled>
                                                        <h3 class="mt-3 text-center" style="color:#C5C5C5;">Pendiente</h3>
                                                    </div>
                                                    {% else %}
                                                    <div class="col text-center">
                                                        {% if propuesta.modificaciones_receptor == 0%}
                                                            <button type="button" class="btn-link link-noparent" onclick="location.href='market/propuesta/{{ propuesta.emisor.username }}'">
                                                                <i class="far fa-edit fa-2x fa-lg" style="color:black;"></i>
                                                            </button>
                                                            <h3 class="mt-3 text-center" style="color:black;">Modificar</h3>
                                                        {% else %}
                                                            <button disabled class="btn-link">
                                                                <i class="far fa-edit fa-2x fa-lg"></i>
                                                            </button>
                                                            <h3 class="mt-3 text-center" style="color:#C5C5C5;">Modificar</h3>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col text-center">
                                                        <button type="submit" class="btn-link" name="rechazar" value="{{ propuesta.emisor.username }}">
                                                            <i class="fas fa-times fa-2x fa-lg"></i>
                                                        </button>
                                                        <h3 class="mt-3 text-center">Rechazar</h3>
                                                    </div>
                                                    <div class="col text-center">
                                                        {% if propuesta.estado == "PREACEPTADA" or propuesta.modificaciones_receptor == 1 %}
                                                        <button type="submit" class="btn-link"  disabled name="aceptar" value="{{ propuesta.emisor.username }}"><i class="fas fa-check fa-2x fa-lg"></i></button>
                                                        <h3 class="mt-3 text-center" style="color: #C5C5C5;">Pre-Aceptar</h3>
                                                        {% else %}
                                                        <button type="submit" class="btn-link" name="aceptar" value="{{ propuesta.emisor.username }}"><i class="fas fa-check fa-2x fa-lg"></i></button>
                                                        <h3 class="mt-3 text-center">Pre-Aceptar</h3>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                                <div class="w-100 mb-5"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

    <!-- Modal -->
<div class="modal fade mt-5 pr-5 center" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">Cancelar propuesta comercial</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Quieres cancelar esta propuesta comercial? Podrás enviar otra en cualquier momento.
      </div>
      <div class="modal-footer">
          <form action="" method="POST">

          {% csrf_token %}
        <button type="button" class="btn btn-secondary gris" data-dismiss="modal" name="cancelar">Retirar</button>
        <input type="submit" class="btn btn-primary" name="cancelar">

        </form>
      </div>
    </div>
  </div>
</div>

</section>