{% load static %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta property="og:description" content="La economía colaborativa ha llegado al retail.">

<!-- Verificar el sitio web en Google Webmasters -->
<meta name="google-site-verification" content="lsjetXvJbnfErFsY40Acio-XFPhgVtAESjRp1zPBeIQ" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136254464-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136254464-1');
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="icon" type="image/gif" href="{% static 'main/images/KC_icon.png' %}">
<link rel="stylesheet" href="{% static 'landing/css/landing.css' %}" />
<link rel="stylesheet" href="{% static 'landing/css/formulario.css' %}" />
<link rel="stylesheet" href="{% static 'landing/css/member.css' %}" />
<link rel="stylesheet" href="{% static 'main/assets/css/owl.carousel.css' %}" />
<link rel="stylesheet" href="{% static 'main/assets/css/owl.theme.default.css' %}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



<noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>

<!-- Cookies --->
<link rel="stylesheet" href="{% static 'landing/css/cookies.css' %}" />

<!-- jquery adicional ? -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
