{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Market{% endblock %}

{% block main %}

{% if not perfil or not perfil.is_espacio and not perfil.is_marca%}
    <div class="modal fade mt-5" id="modalErrorMarket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rellena tu perfil</h5>
                </div>
                <div class="modal-body">
                    Para poder acceder a esta información primero debes haber indicado
                    <a href="{% url 'mi-cuenta' 2 %}" style="color: #7629EF;"> si eres una marca o un espacio</a>
                    y haber rellenado en tu <a href="perfil-kradeler" style="color: #7629EF;">perfil kradeler</a>
                    la información necesaria.
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" href="{% url 'mi-cuenta' 2 %}">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="col-12 text-center">
        <a href="#" id="ordenar-btn" class="button gris text-center mr-5 toggle-chk"><i class="fas fa-list mr-3"></i>Ordenar</a>
        <a href="#" id="filtrar-btn" class="button gris text-center toggle-chk"><i class="fas fa-sliders-h mr-3"></i>Filtrar</a>
    </div>

    <div id="ordenar-btn-show" class="hide">
        <div class="row justify-content-center">
            <div class="col-12 mt-5">
                <h5>Ubicación</h5>
            </div>
            <div class="col-7">
                De menor a mayor distancia
            </div>
            <div class="col-5 text-right">
                <input id="ordenar-1" type="checkbox" class="toggle-chk" />
                <label for="ordenar-1"><span></span></label>
            </div>
             <div class="col-7">
                De mayor a menor distancia
            </div>
            <div class="col-5 text-right">
                <input id="ordenar-2" type="checkbox" class="toggle-chk" />
                <label for="ordenar-2"><span></span></label>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 mt-5">
                <h5>Metros cuadrados</h5>
            </div>
            <div class="col-7">
                De más a menos m2
            </div>
            <div class="col-5 text-right">
                <input id="ordenar-3" type="checkbox" class="toggle-chk" />
                <label for="ordenar-3"><span></span></label>
            </div>
             <div class="col-7">
                De menos a más m2
            </div>
            <div class="col-5 text-right">
                <input id="ordenar-4" type="checkbox" class="toggle-chk" />
                <label for="ordenar-4"><span></span></label>
            </div>
        </div>

    <!--    <div class="col-12 text-center">-->
    <!--        <button type="submit" class="align-center text-center">Actualizar búsqueda</button>-->
    <!--    </div>-->
    </div>

    <div id="filtrar-btn-show" class="hide">
        <div class="row justify-content-center mt-5">

            <div class="col-7"><strong>Espacios</strong></div>
            <div class="col-5 text-right">
                <input id="filtrar-espacios" type="checkbox" class="toggle-chk" />
                <label for="filtrar-espacios"><span></span></label>
            </div>

            <div class="col-7"><strong>Marcas</strong></div>
            <div class="col-5 text-right">
                <input id="filtrar-marcas" type="checkbox" class="toggle-chk" />
                <label for="filtrar-marcas"><span></span></label>
            </div>

            <hr style="min-width:85%; background-color:#F2F2F2 !important; height:1px;"/>

            <div class="col-12 mb-2"><strong>Ubicación</strong></div>
            <input type="range" class="custom-range" id="sliderUbicacion">

            <hr style="min-width:85%; background-color:#F2F2F2 !important; height:1px;"/>

            <div class="col-12 mb-2"><strong>Precio metro cuadrado por mes</strong></div>
            <input type="range" class="custom-range" id=sliderPrecio">

            <hr style="min-width:85%; background-color:#F2F2F2 !important; height:1px;"/>
        </div>
    </div>

    <hr>
    <hr>

    <div class="col-12">
        <i class="fas fa-plus-circle"></i>
        <strong>Crear una comunidad</strong>
        <p style="color: #A5ADBB">¿No encuentras el Kradeler que buscas? Crea una comunidad</p>
    </div>

<script>
    $(document).ready(function(){
        $("#owl-market-network").owlCarousel({
            loop:true,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                }
            }
        });
    });
</script>

<!-- OWL Carousel -->
<div class="col-12 mt-3">
    {% if usuarios %}
        <div id="owl-market-network" class="owl-carousel row">
            {% for u in usuarios %}
                {% if u.validado %}
                <div class="col" onclick="location.href='/perfil-kradeler/{{ u.username }}'">
                    <!-- Card with a top carousel image -->
                    <div class="card bootstrap">
                        <div class="card-bootstrap-header">
                            {% if u.galeria.all.count > 0 %}
                                <!-- Bootstrap Carousel -->
                                <div id="KradlecoMarket" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">

                                        {% for img in u.galeria.all %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <img src="{{ img.imagen.url }}" />
                                            </div>
                                        {% endfor %}

                                        {% if u.galeria.all.count > 1 %}
                                            <a class="carousel-control-prev d-none d-md-flex" href="#KradlecoMarket" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next d-none d-md-flex" href="#KradlecoMarket" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        {% endif %}

                                    </div>
                                </div>
                            {% else %}
                                <div class="carousel-item active">
                                    <img src="{% static 'main/images/KC_nopic.png' %}" alt="Usuario sin imágenes en su galería" />
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="card-div-img-title">
                                    {% if u.foto_perfil %}<img src="{{ u.foto_perfil.url }}" class="card-img-title" alt="" />
                                    {% else %}<img src="{% static 'main/images/no_user.png' %}" class="card-img-title" alt="" />{% endif %}
                                </div>

                                {{ u.username}}
                            </h5>
                            <p class="card-job">{% firstof u.titular 'Titular' %}</p>
                            <p class="card-text">Textil Tags<br> Adultos +2</p>
                            <a href="#">Contactar</a>
                            <img class="icon float-right" src="{% static 'main/images/espacio_icon.svg' %}" />
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Aún no hay usuarios que mostrar</p>
    {% endif %}
</div>


{% endblock %}
