{% extends "landing/base-hf.html" %}

{% load static %}


{% block title %}Perfil Kradeler{% endblock %}

{% block main %}

{% if usuario.validado %}
    <div class="container text-center">

        <!-- Carousel -->
        <div id="NetworkKradlecoMarket" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <a href=""><img src="{% static 'landing/images/mercado/like_icon.svg' %}" alt="Espacio" class="sticky-top float-right mr-3 mt-3" /></a>

                {% if usuario.galeria.all.count > 0 %}
                    {% for i in usuario.galeria.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">

                            <!-- Card with a top image -->
                            <div class="card">
                                {% if i.imagen %}
                                    <img src="{{ i.imagen.url }}" class="card-img-top mt-1" />
                                {% else %}
                                    <img src="{% static 'main/images/KC_nopic.png' %}" class="card-img-top mt-1" />
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}

                    <div class="carousel-item active">
                        <div class="card">
                            <img src="{% static 'main/images/KC_nopic.png' %}" class="card-img-top mt-1" />
                        </div>
                    </div>

                {% endif %}
            </div>

            <a class="carousel-control-prev d-none d-md-flex" href="#NetworkKradlecoMarket" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next d-none d-md-flex" href="#NetworkKradlecoMarket" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="row">
            <div class="float-left col-2 mt-5 ml-0">
                {% if usuario.foto_perfil %}
                    <img src="{{ usuario.foto_perfil.url }}" class="card-img-title w-100" />
                {% else %}
                    <img src="{% static 'main/images/joe_gardner.jpg' %}" class="card-img-title w-100" />
                {% endif %}
            </div>

            <div class="col-7 mt-5">
                <h5 class="col-8 text-left float-left">
                        {{ perfil.user.first_name}} {{ perfil.user.last_name}}
                    <br>
                    <small class="text-left float-left">{{ perfil.user.titular }}</small>
                </h5>
                <br>

            </div>

            <div class="logo col-3 mt-5 float-left">
    <!-- HAY QUE AÑADIR LOS DOS CAMPOS IS_MARCA O IS_ESPACIO-->
                {% if perfil.user.is_marca %}
                    <img src="{% static 'landing/images/marca/marca_icon.svg' %}" alt="Marca"/>
                {% else %}
                    <img src="{% static 'landing/images/marca/espacio_icon.svg' %}" alt="Espacio"/>
                {% endif %}
            </div>
        </div>

        <div class="row aln-center mt-5 text-center">
            <div class="col-12 text-center">
                <p><b>Ver su perfil en redes sociales</b></p>
            </div>

            <div class="w-100 mt-3"></div>

            <div class="row text-center mr-3">
                <div class="col">
                    <a class="fb-ic" role="button" href="{{perfil.user.facebook}}">
                        <i class="fab fa-lg fa-facebook-f"></i>
                    </a>
                </div>

                <div class="col">
                    <a class="tw-ic" role="button" href="{{perfil.user.twitter}}">
                        <i class="fab fa-lg fa-twitter"></i>
                    </a>
                </div>

                <div class="col">
                    <a class="li-ic" role="button" href="{{perfil.user.linkedin}}">
                        <i class="fab fa-lg fa-linkedin-in"></i>
                    </a>
                </div>

                <div class="col">
                    <a class="yt-ic" role="button" href="{{perfil.user.youtube}}">
                        <i class="fab fa-lg fa-youtube"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 text-center mt-5">
                <p><b>RATINGS</b></p>
            </div>

            <div class="col-12 text-center">
                {% for i in i|rjust:5 %}
                    {% if puntuacion %}
                        {% if puntuacion >= forloop.counter %}
                            <i class="fa fa-star checked"></i>
                        {% elif puntuacion < forloop.counter and puntuacion > forloop.counter0 %}
                            <i class="fa fa-star-half-full"></i>

                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-star-o"></i>
                    {% endif %}
                {% endfor %}
                <p>{% if puntuacion %}{{ puntuacion }}{% else %}Sin puntuación{% endif %}</p>
            </div>

        </div>

        <div class="row">
            <div class="col-12 text-center mt-5">
                <p class="float-left"><b>Sobre mi negocio</b></p>
            </div>
            <p style="color: #A5ADBB">{{ perfil.user.sobre_mi_negocio }}</p>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <p class="float-left"><b>VERIFICACIONES</b></p>
            </div>

            <div class="col-7 text-left">
                <h5>Telefono<i class="fas fa-check-circle float-right"></i></h5>

                <h5>Email<i class="fas fa-check-circle float-right"></i></h5>

                <h5>Empresa<i class="fas fa-check-circle float-right"></i></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-9 mt-5">
                <p class="float-left"><b>Ubicación</b></p>
            </div>


            <div class="col-12 col-md-5 text-left">
                <div class="row">
                    <div class="col-12"><p> {{ perfil.direccion}} </p></div>
                </div>
                <div class="row">
                    <div class="col-12"><p>{{ perfil.cp}}</p></div>
                </div>
                <div class="row">
                    <div class="col-12"><p>{{ perfil.ciudad}}, {{ perfil.pais}}</p></div>
                </div>
            </div>

            <div class="col-12 col-md-7">
                <!-- Mapa cuando tengamos la api de produccion -->
                <div id="map" class="h-100"></div>

                    <script>
                    var map;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {
                                lat: {% if form_perfil.lat.value != None %}{{ form_perfil.lat.value }}{% else %}-34.397{% endif %},
                                lng: {% if form_perfil.lng.value != None %}{{ form_perfil.lng.value }}{% else %}150.644{% endif %}
                            },
                            zoom: 8
                        });
                    }
                    </script>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <p class="float-left"><b>Alquiler</b></p>
            </div>

            <p style="color: #A5ADBB">{{ alquiler.euros_dia }}€/ día</p>
        </div>
        <div class="row">
            <div class="col-8"> </div>

            <p style="color: #A5ADBB">{{ alquiler.euros_semana }}€/ semana</p>
        </div>
        <div class="row">
            <div class="col-8">
            </div>

            <p style="color: #A5ADBB">{{ alquiler.euros_mes }}€/ mes</p>
        </div>

        <div class="row mt-3">
            <div class="col-9">
                <p class="float-left"><b>% Ventas</b></p>
            </div>
            <p style="color: #A5ADBB">{{ perfil.ventas}}%</p>
        </div>


        <div class="row col-12 fixed-bottom mb-5">
            <div class="col-12 text-center mb-3 ml-2">
                <a href="#">

                    {% if conectados %}
                        <button name="desconectar" data-toggle="modal" data-target="#exampleModal">Desconectar</button>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            {% if enabled %}
                                {% if sendable %}
                                    <button type="submit" value="Guardar">Conectar</button>
                                {% else %}
                                    <a data-toggle="modal" data-target="#sendableModal" class="btn btn-default">Conectar</a>
                                {% endif %}
                            {% else %}
                                <a data-toggle="modal" data-target="#marketModal" class="btn btn-default">Conectar</a>
                            {% endif %}
                        </form>
                    {% endif %}

                </a>
            </div>
            <div class="col-12 text-center ml-2">
                {% if enabled %}
                    {% if sendable %}
                        {% if compatible %}
                            {% if propuesta %}
                                {% if propuesta.modificaciones_receptor == 0 %}
                                <a href="/market/propuesta/{{ perfil.user.username }}" class="btn btn-default naranja">Modificar propuesta</a>
                                {% endif %}
                            {% else %}
                                <a href="/market/propuesta/{{ perfil.user.username }}" class="btn btn-default naranja">Hacer propuesta</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a data-toggle="modal" data-target="#sendableModal" class="btn btn-default naranja">Hacer propuesta</a>
                    {% endif %}
                {% else %}
                    <a data-toggle="modal" data-target="#marketModal" class="btn btn-default naranja">Hacer propuesta</a>
                {% endif %}
            </div>
        </div>


        <div class="col-9 mt-5">
            <p class="float-left"><b>Comentarios:</b></p>
        </div>

    </div>

    <div class="card">
        {% if comentarios.count > 0 %}
            {% for comentario in comentarios %}
                <div class="card-body">
                    <h5 class="card-title">
                        {% if comentario.autor.foto_perfil %}
                            <img src="{{ comentario.autor.foto_perfil.url }}" class="card-img-title"
                                 alt=""/>
                        {% else %}
                            <img src="{% static 'main/images/KC_nopic.png' %}" class="card-img-title" />
                        {% endif %}
                        {{ comentario.autor.username }}</h5>
                    <p class="card-job">{{ comentario.contenido }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Este usuario no tiene aún comentarios. Sé el primero en dejar tu opinión!</p>
        {% endif %}
    </div>

    <div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Desconectar con este usuario?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Quieres eliminar a este usuario de tus contactos? Podrás volver a enviarle una solicitud cuando desees.
          </div>
          <div class="modal-footer">
            <form action="" method="POST">
                <button type="button" class="btn btn-secondary gris" data-dismiss="modal">Cancelar</button>

                {% csrf_token %}
                    <input type="submit" value="Aceptar" name="desconectar">
            </form>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade mt-5" id="marketModal" tabindex="-1" role="dialog" aria-labelledby="marketModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="marketModalLabel">Kradleco Market</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Para poder acceder a esta información primero debes haber indicado
          <a href="/mi-cuenta/tab2" style="color: #7629EF;"> si eres una marca o un espacio</a>
          y haber rellenado en tu <a href="/perfil-kradeler" style="color: #7629EF;">perfil kradeler</a>
          la información necesaria.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mt-5" id="sendableModal" tabindex="-1" role="dialog" aria-labelledby="marketModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendableModalLabel">Kradleco Market</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        El usuario con el que intentas conectar no ha completado aún la información de su cuenta, por lo que no es posible
          establecer una conexión.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>



    <!-- Google maps api -->
    <!-- todo cambiar la api key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRA3LoCgpvYtqwZwOISRnQXGtMQniZ48E&callback=initMap" async defer></script>
{% else %}

    <p class=" mt-5 text-center">Este usuario no tiene aún su perfil público habilitado</p>

{% endif %}

{% endblock %}
