{% extends "landing/base-hf.html" %}

{% load static %}


{% block title %}Market - Perfil Kradeler{% endblock %}

{% block main %}
<form novalidate="novalidate" method="post" name="propuestaform" id="propuestaform">
    {% csrf_token %}

<div class="row">
    <div class="col-10 text-center">
        {{ form.nombre }}
    </div>

</div>

<div class="row mt-3">

   <div class="col-12">
        <i class="fas fa-plus-circle"></i>
        <strong class="ml-2 toggle-chk"><a href="javascript:void(0)" id="fechas" >Fechas*</a></strong>
   </div>

    <div id="fechas-show" class="col-12 hide">
        <div class="card">
            <div class="card-body">
                <div class="col-12 mt-2">
                    <strong>Desde</strong>
                    {{ form.fecha_desde }}
                </div>

                <hr style="min-width:85%; background-color:#F2F2F2 !important; height:1px;"/>

                <div class="col-12 mt-2 mb-2">
                    <strong>Hasta</strong>
                    {{ form.fecha_hasta }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <i class="fas fa-plus-circle"></i>
        <strong class="ml-2 toggle-chk"><a href="javascript:void(0)" id="condiciones" >Condiciones*</a></strong>
    </div>

    <div id="condiciones-show" class="col-12 hide">
        <div class="card">
            <div class="card-body">
                <div class="col-12 text-left">
                    {% if perfil.is_espacio %}
                        <strong>Precio propuesto en <a href="/perfil-kradeler" style="color: rgb(118, 41, 239);">mi perfil</a></strong>
                    {% else %}
                        <strong>Precio propuesto por el espacio</strong>
                    {% endif %}
                </div>
                <div class="row mt-2">
                    <div class="col-6 text-left mt-3">
                        Precio/<span class="unidad-tiempo">día</span>
                    </div>
                    <div class="col-3">
                        {{ form.precio_dia }}
                        {{ form.precio_semana }}
                        {{ form.precio_mes }}
                    </div>
                    <div class="col-3">
                        {{ form.precio_total }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-left mt-3">
                        % Ventas
                    </div>
                    <div class="col-3">
                        {{ form.porcentaje_ventas }}
                    </div>
                    <div class="col-3"></div>
                </div>

                <div class="row">
                    <div class="col-7 text-left mt-4 ml-3">
                        {% if perfil.is_espacio %}
                            <strong>Proponer mis precios estándar</strong>
                        {% else %}
                            <strong>Acepto precios propuestos</strong>
                        {% endif %}
                    </div>
                    <div class="col-4 mt-4">
                        {{ form.is_acepta_propuestos }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-left mt-2">
                        Precio/<span class="unidad-tiempo">día</span>
                    </div>
                    <div class="col-3">
                        {{ form.precio_dia_propuesto }}
                        {{ form.precio_semana_propuesto }}
                        {{ form.precio_mes_propuesto }}
                    </div>
                    <div class="col-3">
                        {{ form.precio_total_propuesto }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-left mt-3">
                        % Ventas
                    </div>
                    <div class="col-3">
                        {{ form.porcentaje_ventas_propuesto }}
                    </div>
                    <div class="col-3"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12">
        <i class="fas fa-plus-circle"></i>
        <strong class="ml-2 toggle-chk"><a href="javascript:void(0)" id="politica" >Política de cancelación</a></strong>
        <a href="color: #A5ADBB;" data-toggle="modal" data-target="#modalPolitica"><i class="fas fa-info-circle"></i></a>
    </div>

    <div id="politica-show" class="col-12 hide">
        <div class="card">
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-6">MARCA</div>
                    <div class="col-6">
                    {{ form.politica_cancelacion_m }}
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-6">ESPACIO</div>
                    <div class="col-6">
                    {{ form.politica_cancelacion_e }}
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-12">
        <i class="fas fa-plus-circle"></i>
        <strong class="ml-2 toggle-chk"><a href="javascript:void(0)" id="espacio" >Espacio</a></strong>
    </div>

    <div id="espacio-show" class="col-12 hide">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">Metros disponibles aprox</div>
                  <div class="col-3">
                    {{ form.metros_cuadrados }}
                  </div>
                </div>
                <hr style="min-width:85%; background-color:#F2F2F2 !important; height:1px;"/>
                <div class="row">
                    <div class="col-8">Necesito mobiliario</div>
                    {{ form.is_necesita_mobiliario }}
                    <div class="col-12">
                        <p style="color: #A5ADBB;">
                            <i class="fas fa-info-circle"></i>
                            Es importante que le digas a la tienda si quieres llevar tus propios expositores o no.
                            Puede ser muy importante para gestionar tu imagen de marca.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <i class="fas fa-plus-circle"></i>
        <strong class="ml-2 toggle-chk"><a href="javascript:void(0)" id="comentarios" >Comentarios</a></strong>
    </div>

    <div id="comentarios-show" class="col-12 hide">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        {{ form.comentarios }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<div class="row mt-5"></div>

<div class="row mt-5">
    <p style="color: #A5ADBB">*Los campos marcados con un asterisco son obligatorios.</p>
</div>

<div class="row">
    <div class="col-12 text-center center-block">
        <button class="naranja center-block" data-toggle="modal" data-target="#modalEnvio">HACER PROPUESTA</button>
    </div>
</div>


<!-- Modales -->
<div class="modal fade mt-5" id="modalEnvio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body text-center mt-2">
        <h1>¿Confirmar envío?</h1>
      </div>
      <div class="modal-footer">
          <div class="col-5">
            <button type="button" class="btn btn-secondary gris float-right" data-dismiss="modal">Retirar</button>
          </div>
        <div class="col-7">
<!--            <input type="submit">-->
            <button type="submit" value="Submit" class="btn btn-primary naranja float-right" form="propuestaform">CONFIRMAR</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mt-5 pb-5" id="modalPolitica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Política de cancelación Kradleco</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Aquí podrás proponer la <b>política de cancelación</b> que consideres más adecuada,
              tanto para la <b>marca</b> como para el <b>espacio</b> de la propuesta.
              Si tienes cualquier duda con lo que significan estas políticas, aquí tienes un resumen:</p>
          <hr style="min-width:85%; height:1px;"/>
          <h2>MARCA</h2>
          <h3>POLÍTICA LEVE</h3>
          <hr style="min-width:85%; background-color:#7629EF !important; height:1px;"/>
          <ul>
              <li>
                  <h4>Cancelación 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si la marca cancela en este caso, recuperará un 100% del ingreso de validación de la propuesta y
                      se cancelará el montaje del corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si la marca cancela en este caso, recuperará un 50% del ingreso de validación en caso de haber
                      acordado una cuota fija y un 50% del ingreso de validación más pagar 25€ si se ha acordado una
                      cuota variable. Se cancelará el montaje del corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si la marca decide cancelar en este caso, recuperará un 50% del ingreso del periodo actual y se
                      cancelará el punto de venta.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si la marca decide cancelar en este caso, no recuperará nada de dinero y tendrá que pagar 25€ al
                      espacio, además de que se cancelará el punto de venta.
                  </p>
              </li>
          </ul>
          <hr style="min-width:85%; height:1px;"/>
          <h3>POLÍTICA ESTRICTA</h3>
          <hr style="min-width:85%; background-color:#7629EF !important; height:1px;"/>
          <ul>
              <li>
                  <h4>Cancelación 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si la marca cancela en este caso, recuperará un 50% del ingreso de validación de la propuesta y
                      tendrá que pagar 25€ al espacio.
                      Se cancelará el montaje del corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si la marca cancela en este caso, no recuperará nada del ingreso de validación y tendrá que pagar
                      50€ al espacio. Se cancelará el montaje del corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si la marca decide cancelar en este caso, tendrá que pagar 25€ al espacio sólo en caso de
                      haber acordado una cuota variable y se cancelará el punto de venta.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si la marca decide cancelar en este caso, tendrá que pagar al espacio
                      el 50% del siguiente periodo y en caso de haber acordado una cuota variable 50€ extra,
                      además de que se cancelará el punto de venta.
                  </p>
              </li>
          </ul>
          <hr style="min-width:85%; height:1px;"/>
          <h2>ESPACIO</h2>
          <h3>POLÍTICA LEVE</h3>
          <hr style="min-width:85%; background-color:#7629EF !important; height:1px;"/>
          <ul>
              <li>
                  <h4>Cancelación 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si el espacio decide cancelar en este caso, tendrá que devolver el 100% del ingreso de validación
                      de la marca y no se montará el corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si el espacio cancela en este caso, tendrá que devolver el 100% del ingreso de validación
                      a la marca más 25€ en caso de haber acordado una cuota variable. No se montará el corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si el espacio decide cancelar en este caso, devolverá el 100% del ingreso del periodo actual
                      a la marca y se cancelará el punto de venta.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si el espacio decide cancelar en este caso, tendrá que devoler el 50% del ingreso del periodo
                      actual a la marca más 25€ en caso de haber acordado una cuota variable. Se cancelará el punto de venta.
                  </p>
              </li>
          </ul>
          <hr style="min-width:85%; height:1px;"/>
          <h3>POLÍTICA ESTRICTA</h3>
          <hr style="min-width:85%; background-color:#7629EF !important; height:1px;"/>
          <ul>
              <li>
                  <h4>Cancelación 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si el espacio cancela en este caso, deberá devolver el 100% del ingreso de validación en caso de
                      haber acordado una cuota fija y el 100% del ingreso de validación más 25€ si se ha acordó una
                      cuota variable. No se monta el corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 7 días antes de la fecha de inicio:</h4>
                  <p>
                      Si el espacio cancela en este caso, deberá devolver a la marca el 100% del ingreso de validación
                      y 50€ extra en caso de tratarse de una cuota variable. No se monta el corner.
                  </p>
              </li>
              <li>
                  <h4>Cancelación 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si el espacio decide cancelar en este caso, deberá devolver el 100% del ingreso del periodo actual
                      y 25€ extra si se trata de una cuota variable. Se cancela el punto de venta.
                  </p>
              </li>
              <li>
                  <h4>Cancelación menos de 15 días antes de terminar el periodo:</h4>
                  <p>
                      Si el espacio cancela en este caso, deberá devolver el 50% del ingreso del periodo actual y en caso
                      de tratarse de una cuota variable, pagará 50€ más. Se cancela el punto de venta.
                  </p>
              </li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}