    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px !important;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #0288d1;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }