{% load static %}

<div class="container mt-2" id="articulos-parent">

    {#        <div class="col-1 text-right"><img src="{% static 'landing/img/catalogo/categoria/info.png' %}"#}
    {#                                           alt="Información"/></div>#}
    {#        <div class="col-11">#}
    {#            <p>#}
    {#                Toda la información que cargues en ARTÍCULOS será 100% privada.#}
    {#                Sólo tus conexiones podrán ver los artículos que indiques en el apartado "COLECCIONES".#}
    {#                Y aún así, nunca podrán ver precios sin aceptar una solicitud previa de conexión.#}
    {#            </p>#}
    {#        </div>#}

    {#        <div class="w-100 mt-2"></div>#}
    {##}
    {#        <div class="col-8"><a href="#" class="button gris fit"><i class="fas fa-plus"></i> Importar archivo</a></div>#}
    {#        <div class="col-4"><img src="{% static 'landing/img/articulos/articulos_5.png' %}"#}
    {#                                alt="Shopify, WooCommerce, XLS, CSV"/></div>#}
    {##}
    {#        <div class="w-100 mt-2"></div>#}
    {##}
    {#        <div class="col-6">#}
    {#            <a href="#">¿Cómo lo hago? Ver aquí</a>#}
    {##}
    {#            <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>#}
    {#        </div>#}
    {##}
    {#        <div class="w-100 mb-4"></div>#}

    <div class="row justify-content-around">
        <div class="col" data-toggle="collapse" data-target="#articulos-1" aria-expanded="false" id="art-section1"
             aria-controls="articulos-1"><i class="fas fa-plus-square"></i><strong>Añadir articulos</strong></div>
        <div class="col text-center bg-gris" data-toggle="collapse" data-target="#articulos-2" aria-expanded="false"
             id="art-section2" aria-controls="articulos-2"><i class="fas fa-search"></i> <strong>Buscar</strong></div>
    </div>


    <section id="articulos-1" class="col-12 collapse mt-5" data-parent="#articulos-parent">
        <div class="row justify-content-left">
            <a href="{% url 'add-item' %}"><i class="fas fa-plus-circle"></i> Añadir artículo individual</a>

            <a href="#" class="col-12 mt-3" data-toggle="collapse" data-target="#filetypes-selector"
               aria-expanded="false"
               aria-controls="filetypes-selector"><i class="fas fa-file-archive-o"></i> Importar
                archivo</a>
        </div>

        <div class="row justify-content-around collapse" id="filetypes-selector" data-parent="#articulos-1">
            <span class="gris col-12">Seleccione un tipo de fichero (CSV / EXCEL)</span>
            <img id="csv-icon" class="col-4 mt-4 shadow"
                 src="{% static 'main/images/shopify/shopify_logo_whitebg.svg' %}"/>
            <img id="ex-icon" class="col-4 mt-4 mid-icon shadow"
                 src="{% static 'main/images/shopify/excel_icon.svg' %}"/>

            <a class="col-12 text-center mt-3" href="#">¿Cómo lo hago? Ver aquí<i
                    class="fas fa-long-arrow-alt-right"></i></a>

            <div class="col-12 hide row justify-content-center mt-3" id="div-import-file">
                <form method="post" action="/import-file" name="import-form" id="import-form"
                      enctype="multipart/form-data" novalidate="novalidate">
                    {% csrf_token %}
                    <input type="file" class="hide" name="shp-csv" id="shp-csv">
                    <input type="file" class="hide" name="shp-ex" id="shp-ex">
                    <button type="submit">IMPORTAR</button>
                </form>

            </div>


        </div>


    </section>

    <section id="articulos-2" class="col-12 collapse mt-5" data-parent="#articulos-parent">
        <div class="row">
            <div class="input-group mb-3 col-12 col-md-8">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> <i
                            class="fas fa-search"></i></span>
                </div>

                <input type="text" class="form-control articulo-searchbox" name="q" type="text"
                       value=""
                       placeholder="Buscador de artículos" aria-label="Buscador"
                       aria-describedby="basic-addon1">

            </div>


            <div class="btn-group col-12 col-md-4 hide" id="item-options-dropdown">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Acciones
                </button>
                <div class="dropdown-menu">
                    <form id="actions_form" method="post" action="/edit-items">
                        {% csrf_token %}

                        <a href="#" class="dropdown-item" id="action-editar">Editar
                        </a>

                        <input type="hidden" id="ids" name="data" value="">
                    </form>


                    <a href="#" class="dropdown-item btn-link" id="action-eliminar">Eliminar
                    </a>
                </div>
            </div>
            {% include "landing/empresa/catalogo/item-table.html" %}
        </div>

    </section>

    {#        <div class="w-100 mt-2"></div>#}

    {##}
    {#    <div class="row">#}
    {#        <div id="articulos-btn" class="col-8">#}
    {#            <a class="button gris fit"><i class="fas fa-plus"></i> Cargar manualmente</a>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="w-100 mt-2"></div>#}
    {##}
    {#    <div class="row justify-content-md-center">#}
    {#        <div id="articulos-como" class="col-6">#}
    {#            <a href="#">¿Cómo lo hago? Ver aquí</a>#}
    {##}
    {#            <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>#}
    {#        </div>#}
    {#    </div>#}
</div>