{% load static %}

<section class="container">
    <div class="row gtr-uniform aln-center">
        <div class="col-12">


            <!-- Aqui entra colecc-2 -->
            <div id="coleccion" class="box-gray hide">
                <h5 class="float-left">Colección</h5>
                <img class="float-right" src="{% static 'landing/img/catalogo/categoria/ios-on.png' %}" alt="Kradleco"/>
                <p class="float-right mr-2">Visible</p>
                <div>
                    <h5 class="float-left mt-5">Nombre de la colección</h5>
                    <input type="text" class="white-bg" placeholder="Escribir aquí"/>
                </div>
                <div class="wrapper">
                    <hr class="hr"/>
                </div>
                <div class="inner">
                    <ul class="actions stacked">
                        <li><a href="#" class="button large fit">AÑADIR ARTÍCULOS</a></li>
                    </ul>
                </div>

            </div>

            <!-- Aqui acaba colecc-2 -->
            <div class="inner">
                <div>
                    <form method="post" action="{% url 'coleccion' -1 %}">
                        {% csrf_token %}
                        <img class="float-left mr-2" src="{% static 'landing/img/catalogo/categoria/+categoria.png' %}"
                             alt="Kradleco"/>
                        <h5>
                            <button type="submit" class="btn-link" style="color:black !important;"> Añadir colección
                            </button>
                        </h5>
                        <a href="#add-promo-container"
                           data-toggle="tooltip"
                           title="Agrupa tus productos con características o fechas de lanzamiento similares.
                                Puedes organizar tus colecciones como quieras y repetir un mismo producto en distintas colecciones.
                                Incluso crear 1 sola colección de artículos de continuidad que se mantengan en tu portfolio de manera permanente.
                                O puedes crear 1 colección exclusiva para 1 distribuidor en concreto. Nómbralas de manera sencilla y ordenada, te servirá para aclararte.">
                            <img src="{% static 'landing/img/catalogo/categoria/info.png' %}"/>

                        </a>

                        </a>
                    </form>

                </div>
                <div id="cartel" class="box-gray shadow">
                    <div class="container">
                        <p>
                            Ocúltalas o hazlas visibles para tus conexiones.</br>
                            Si pones <strong><span style="color:purple">ON</span></strong>, tus conexiones podrán ver
                            artículos de estas colecciones cuando vayan a realizarte una propuesta.</br>
                            El único campo que podrán ver nunca será la información de precios. Esta siempre la
                            controlarás tu en cada propuesta una a una.

                        </p>
                    </div>
                </div>
            </div>

            {% for empresa in request.user.empresa.all %}
                {% with total=empresa.colecciones.all|length %}
                    {% for coleccion in empresa.colecciones.all %}
                        {% if forloop.counter <= 3 %}
                            <form method="post" action="{% url 'coleccion' coleccion.id %}">
                                {% csrf_token %}
                                <div id="{{ coleccion.id }}" class="box-gray shadow row mt-2 coleccion">
                                    <p class="col float-left">
                                        {{ coleccion.nombre }}
                                    </p>

                                    <div class="col-6 text-right">
                                        <p>Visible</p><input id="coleccion-visible-{{ coleccion.id }}" type="checkbox"
                                                             class="toggle-chk {% if coleccion.visible %}loaded{% endif %}"/>
                                        <label for="coleccion-visible-{{ coleccion.id }}"><span></span></label>
                                    </div>
                                    <button id="ver-coleccion-{{ coleccion.id }}" class="col-12 button naranja">VER
                                    </button>
                                </div>
                            </form>

                        {% endif %}
                    {% endfor %}
                    {% if total > 3 %}
                        <div id="cartel" class="mt-3 bg gris text-center rounded">
                            <h1><a href="/colecciones" class="text-center">Ver más ...</a></h1>
                        </div>
                    {% endif %}
                {% endwith %}

            {% endfor %}

        </div>

<div class="mb-5 text-center">
    <h2>Categorías</h2>
    <p>Categoriza tus productos creando tipos de productos, un producto solo puede estar dentro de una categoría</p>
</div>


<div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    <div class="toast-header">
        <img src="{% static 'main/images/KC_icon.png' %}" class="rounded mr-2" alt="...">
        <strong class="mr-auto">KRADLECO</strong>
        <small>ahora</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Categoría guardada correctamente!
    </div>
</div>

<div class="row">
    <p><b>Categorias Actuales</b></p>
    <ul class="list-group list-group-flush col-12" id="categorias_actuales">
        {% if categorias|length > 0 %}
            {% for categoria in categorias %}
                <div id="new-cat-{{ categoria.id }}"
                     class="list-group-item list-group-item-action d-flex justify-content-between align-items-center collapsed"
                     data-toggle="collapse" data-target="#target-{{ categoria.id }}" aria-expanded="false"
                     aria-controls="#target-{{ categoria.id }}">
                    <a id="elem-{{ categoria.id }}" href="#elem-{{ categoria.id }}" contenteditable="false">
                        {{ categoria.nombre }}
                    </a>
                    <div>
                    <span class="float-right badge badge-primary badge-pill ml-2">
                        {{ categoria.subcategorias.all|length }}
                    </span>
                        <i class="fa fa-edit fa-2x" id="edit-{{ categoria.id }}"></i>
                        <i class="fa fa-save fa-2x hide" id="save-{{ categoria.id }}"></i>
                        <i class="fa fa-close fa-2x hide" id="delete-{{ categoria.id }}"></i>
                    </div>
                </div>

                {% if categoria.subcategorias.all|length > 0 %}
                    <ul id="target-{{ categoria.id }}" class="ml-2 list-group list-group-flush collapse">
                        {% for sub in categoria.subcategorias.all %}
                            <div id="new-cat-{{ sub.id }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <a id="elem-{{ sub.id }}" href="#elem-{{ categoria.id }}" contenteditable="false">
                                    {{ sub.nombre }}
                                </a>
                                <div>
                                    <i class="fa fa-edit fa-2x" id="edit-{{ sub.id }}"></i>
                                    <i class="fa fa-save fa-2x hide" id="save-{{ sub.id }}"></i>
                                    <i class="fa fa-close fa-2x hide" id="delete-{{ sub.id }}"></i>
                                </div>
                            </div>

                        {% endfor %}
                    </ul>
                {% endif %}

            {% endfor %}
        {% else %}
            <p id="empty_cat">Actualmente no tienes categorías, prueba a añadir alguna!</p>
        {% endif %}

    </ul>

</div>

    <!-- Aqui entra catgr-2 -->
    <div id="categoria" class="hide">
        <!-- Nombre Categoría -->
        <h5 id="categoria_seleccionada" class="row hide mt-3"><b>Nueva categoría:</b><label for="nueva_categoria"></label>
        </h5>
        <input type="text" class="white-bg" placeholder="Escribir nombre categoria aquí" id="nueva_categoria"/>
        <!--Nombre subcategorias-->
        <div class="hide" id="nuevas_subcategorias">
            <h5 id="subcategorias_seleccionadas" class="row hide"><b>Nuevas subcategorias:</b>
                <label for="nuevas_subcategorias"></label>
            </h5>

            <input class="ml-3" type="text" id="nueva_subcategoria_input"
                   placeholder="Subcategoría separadas por coma o enter"/>
        </div>

        <!-- GUARDAR -->
        <div class="field text-center mt-5">
            <a href="#nuevas_subcategorias">
                <button type="submit" id="actualizar_categorias" value="Guardar"><i class="fa fa-check"></i> Guardar
                </button>
            </a>
        </div>
    </div>

    <br>
    <a id="categoria-btn" href="#nueva_categoria" class="mt-5 col-12">
        <img class="float-left mr-2" src="{% static 'landing/img/catalogo/categoria/+categoria.png' %}" alt="Kradleco"/>
        <h5>Añadir categoría</h5>
    </a>

    </div>
</section>
