{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Editor masivo{% endblock %}

{% block main %}

    <div class="container-fluid mt-4">
        <form enctype="multipart/form-data" novalidate="novalidate" method="post" name="edit-items">
            {% csrf_token %}
            <div class="fixed">
                <h4>Actualmente estás editando los siguientes campos</h4>


                <select class="col-8 custom-select" id="add-filter-option">
                    <option selected value="0">Añadir campo</option>
                    <option value="1">Código SKU</option>
                    <option value="2">URL</option>
                    <option value="3">PVP</option>
                    <option value="4">Precio Coste</option>
                    <option value="5">Precio Comparación</option>
                    <option value="6">Stock</option>
                </select>


                <div class="col-2 float-right">
                    <button type="submit" value="Guardar"><i class="fa fa-save"></i></button>
                </div>

                <div class="row mt-3 mb-5" id="campos-container">
                    {# Ejemplo de estructura de un tag #}
                    {#                    <div id="option_1">#}
                    {#                <span class="tag label label-info">#}
                    {#                    <span>Código SKU</span>#}
                    {#                    <a><i class="remove fa fa-close"></i></a>#}
                    {#                </span>#}
                    {#                    </div>#}
                </div>

            </div>
            <table class="table unresponsive">
                <thead class="thead-light">
                <tr>
                    <th class="table-fit"></th>
                    <th>Nombre del artículo</th>
                    <th class="hide id_ref">Referencia</th>
                    <th class="hide id_url">URL</th>
                    <th class="hide id_pvp">PVP</th>
                    <th class="hide id_precio_coste">Precio coste</th>
                    <th class="hide id_precio_comparacion">Precio comparación</th>
                    <th class="hide id_stock">Stock</th>

                </tr>
                </thead>
                <tbody>
                {% for f in forms %}
                    <tr>

                        {% if f.instance.variantearticulo.all|length > 0 %}

                            <td class="table-fit bg-light">
                                {% if f.instance.imagen_principal %}
                                    <img class="ml-2 mini-thumbnail" src="{{ f.instance.imagen_principal.url }}">
                                {% endif %}
                            </td>
                            <td class="bg-light"> {{ f.nombre.value }}</td>
                            <div class="hide">{{ f.nombre }}</div>
                            <td class="hide id_ref"> ---</td>
                            <td class="hide id_url"> ---</td>
                            <td class="hide id_pvp"> ---</td>
                            <td class="hide id_precio_coste"> ---</td>
                            <td class="hide id_precio_comparacion"> ---</td>
                            <td class="hide id_stock"> ---</td>

                        {% else %}

                            {% if f.tipo == 0 %}
                                <td class="bg-light table-fit ">
                                    {% if f.instance.imagen_principal %}
                                        <img class="ml-2 mini-thumbnail" src="{{ f.instance.imagen_principal.url }}">
                                    {% endif %}
                                </td>
                                <td class="bg-light">{{ f.nombre.label }}: {{ f.nombre.value }}</td>
                                <div class="hide">{{ f.nombre }}</div>

                            {% else %}

                                <td class="bg-light table-fit"></td>
                                <td class="bg-light">
                                    {% if f.opcion_1_value.value != None %}{{ f.opcion_1_value.value }}{% endif %}
                                    {% if f.opcion_2_value.value != None %}·{{ f.opcion_2_value.value }}{% endif %}
                                    {% if f.opcion_3_value.value != None %}·{{ f.opcion_3_value.value }}{% endif %}
                                </td>
                                <div class="hide">{{ f.opcion_1 }}</div>
                                <div class="hide">{{ f.opcion_2 }}</div>
                                <div class="hide">{{ f.opcion_1_value }}</div>
                                <div class="hide">{{ f.opcion_3_value }}</div>
                                <div class="hide">{{ f.opcion_2_value }}</div>
                                <div class="hide">{{ f.opcion_3 }}</div>

                            {% endif %}
                            <td class="hide id_ref">{{ f.ref }}</td>
                            <td class="hide id_url">{{ f.url }}</td>
                            <td class="hide id_pvp">{{ f.pvp }}</td>
                            <td class="hide id_precio_coste">{{ f.precio_coste }}</td>
                            <td class="hide id_precio_comparacion">{{ f.precio_comparacion }}</td>
                            <td class="hide id_stock">{{ f.stock }}</td>

                        {% endif %}


                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <input type="hidden" id="ids" name="data" value="{{ ids }}">
            <input type="hidden" id="save" name="save" value="ok">

        </form>
    </div>


{% endblock %}
{% block script %}
    <script src="{% static 'main/assets/js/catalogo.js' %}"></script>
{% endblock %}