<table class="fixed-bottom table table-hover mt-5 my-custom-scrollbar table-wrapper-scroll-y"
       id="item-search-table-dialog">
    <tbody>
    {% for articulo in articulos %}
        <tr>
            <th scope="row">
                {% if articulo.promocionados|length > 0 %}
                    <span class="fa-stack">
                          <i class="fa fa-exclamation-triangle fa-stack-2x" style="color:#fbed50;"></i>
                          <i class="fa fa-info fa-stack-1x" style="color:#000000;"></i>
                    </span>
                {% endif %}
            </th>
            <td>{{ articulo.nombre }}</td>
            <td>{{ articulo.ref }}</td>
            <td>{{ articulo.pvp }}</td>
            <td>{{ articulo.precio_comparacion }}</td>
            <td class="table-fit bg-light">
                {% if articulo.imagen_principal %}
                    <img class="ml-2 mini-thumbnail" src="{{ articulo.imagen_principal.url }}">
                {% endif %}
            </td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input promo-found" id="{{ articulo.id }}">
                    <label class="form-check-label" for="{{ articulo.id }}"> Seleccionar </label>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


