{% extends 'landing/base-hf.html' %}
{% load static %}

{% block main %}


    <p class="display-sm-4 display-md-1 text-center"><span class="big-text">GRACIAS POR SU COMPRA</span></p>
    <p class="display-sm-4 display-md-1 text-center"><a href="#">Consulta aquí la política de devoluciones</a></p>


    {% for marca in marcas %}
        <img src="{{ marca.imagen.url }}" class="col"/>
    {% endfor %}

    <div class="row justify-content-center mt-5">
        <form method="post" action="/imprimir-ticket">
            <button class="button text-center">IMPRIMIR TICKET</button>
        </form>

    </div>


{% endblock %}