
{% extends 'dashboard/fotografo/base-fotografo.html' %}

{% load static %}
{% load i18n %}

{% block main %}

<style>
    #id_fecha, #id_spot {
        width: 100%;
        height: 45px;
        box-shadow: none;
        border: none;
        background: white;
        border-radius: 5px;
        }
</style>

<div class="container">

   <div class="row">
            <div class="col-0 col-lg-2"></div>
            <div class="col-12 col-lg-4">
                  <div class="row mt-5">
                      <div class="col-12">
                        <div id="col-form" class="col-12" style=""><i class="fas fa-filter"></i> Filtrar</div>
                      </div>
                      <div class="col-12">
                          <a href="fotografo-productos?area__pais__continente__nombre=EUROPA" class="nav-link">Productos de Europa</a>
                      </div>
                      <div class="col-12">
                           <a href="fotografo-productos?area__pais__continente__nombre=AMERICA" class="nav-link">Productos de America</a>
                      </div>
                      <div class="col-12">
                            <a href="fotografo-productos?area__pais__continente__nombre=AUSTRALIA AND NEW ZEALAND" class="nav-link">Productos de Australia & New Zealand</a>
                      </div>
                      <div class="col-12">
                          <a href="fotografo-productos?area__pais__continente__nombre=ASIA" class="nav-link">Productos de Asia</a>
                      </div>
                      <div class="col-12">
                          <a href="fotografo-productos?area__pais__continente__nombre=CARIBEAN" class="nav-link">Productos de Caribean</a>
                      </div>
                  </div>
            </div>

                <div class="col-12 col-lg-6">
                  <div class="row">
                      <div class="col-12 col-lg-6">
                        <form action="" method="POST" id="formulario" class="row">
                            {% csrf_token %}
                             <div class="col-12 mt-3">
                                 <label>{% trans 'Alias' %}*</label>
                                 <input type="text" name="alias" placeholder="Alias" class="form-control">
                             </div>

                            <div class="col-12 mt-3 d-none" id="div-cont">
                                <label>{% trans 'Continent' %}*</label>
                                <select name="" id="selectCont" class="form-control"></select>
                            </div>

                            <div class="col-12 mt-3" id="div-pais">
                                <label>{% trans 'Country' %}*</label>
                                <select name="" id="selectPais" class="form-control"></select>
                            </div>

                            <div class="col-12 mt-3">
                                <label>{% trans 'Area' %}*</label>
                                <select name="area" id="selectArea" class="form-control"></select>
                            </div>

                            <div class="col-12 mt-3">
                                <label>{% trans 'Spot' %}*</label>
                                <select name="spot" id="selectSpot" class="form-control"></select>
                            </div>

                            <input class="btn btn-primary mt-3" type="button" value="Filtrar productos" id="buscar">
                            <input class="btn btn-primary mt-3 d-none" type="submit" value="Elige qué estás buscando" name="filtro-productos" id="buscar-form">
                        </form>
                      </div>
                  </div>
                </div>
        </div>
    <div class="row mt-5">

{#        <div class="col-12">#}
{#            <form id="filter_form" action="" method="get" class="row" style="">#}
{#            <div class="col-12 mt-3">{{ filter.form.spot  }}</div>#}
{##}
{#            <div class="col-6 mt-3">{{ filter.form.fecha  }}</div>#}
{#            <div class="col-6">#}
{#                <button type="submit" class="btn btn-primary" style="height: 45px; margin-top: 16px; width: 100px;">#}
{#                    <i class="fas fa-filter"></i>#}
{#                </button>#}
{#            </div>#}
{#        </form>#}
{#        </div>#}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Disponibilidad</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in filter.qs %}
                <tr onclick="location.href='{% url 'producto' id=producto.id %}'" style="cursor: pointer">
                    <th scope="row"><a href="{% url 'producto' id=producto.id %}">{{ producto.nombre }}</a></th>
                    <td>{{ producto.fecha }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{% if producto.stock > 0 %} <i class="fa fa-check"></i> {% else %} <i class="fa fa-times"></i> {% endif %}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

    <script>


         document.getElementById('id_fecha').type = 'date';


    document.getElementById('id_spot').onchange = function(){
        document.getElementById('filter_form').submit();
    };
</script>

<script defer>
        let scroll = "{{ scroll }}" === "True";

        const spotOG = {{ spotOG|safe }};

        let spotQS = [];

        for (let spot of spotOG) {
            var result = JSON.parse(spot)
            spotQS.push(result)
        }
</script>
<script src="{% static 'main/assets/js/buscador.js' %}" defer></script>
<script src="{% static 'dashboard/filters.js' %}" defer></script>
<script src="{% static 'main/assets/js/filtros-spots.js' %}" defer></script>
{% endblock %}