<section class="formulario">
    <h3>Selecciona a qué mercado y targets va dirigido este artículo</h3>
        <div class="fields">

            <div class="field mt-3">
                <label>Mercado</label>

                {% if form.maestro %}
                    {{ form.mercado }}
                {% else %}
                    <p>No tienes nigún maestro guardado</p>
                {% endif %}
            </div>

            <div class="field mt-3">
                <label>Target</label>

                {% if form.maestro %}
                    {{ form.target }}
                {% else %}
                    <p>No tienes nigún maestro guardado</p>
                {% endif %}
            </div>
        </div>

</section>

<h4 class="mt-3">Categorías</h4>

{{ form.categorias }}

<h4 class="mt-3">Subcategorías</h4>

{{ form.subcategorias }}


