{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Mi catálogo{% endblock %}

{% block main %}

    <div class="container">
        <div class="inner col-12">
            <div class="accordion" id="accordionExample">

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button id="btnArticulos" class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="float-left bold font-weight-bold">Artículos</span><i id="lol" class="fa fa-angle-up fa-2x float-right mt-2"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            {% include "landing/empresa/catalogo/articulos.html" %}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="float-left bold font-weight-bold">Colecciones</span><i class="fa fa-angle-up fa-2x float-right mt-2"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            {% include "landing/empresa/catalogo/colecciones.html" %}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="float-left bold font-weight-bold">Promociones</span><i class="fa fa-angle-up fa-2x float-right mt-2"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            {% include "landing/empresa/catalogo/promociones/promociones.html" %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade mt-5" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <p>
                            Ocúltalas o hazlas visibles para tus conexiones.</br>
                            Si pones <strong><span style="color:purple">ON</span></strong>, tus conexiones podrán ver
                            artículos de estas colecciones cuando vayan a realizarte una propuesta.</br>
                            El único campo que podrán ver nunca será la información de precios. Esta siempre la
                            controlarás tu en cada propuesta una a una.
                        </p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
                </div>
            </div>
        </div>
    </div>


    <input type="checkbox" id="show_promo" {% if view_from == 'show_promo' %}checked{% endif %}/>

    <script src="{% static 'main/assets/js/catalogo.js' %}"></script>

{% endblock %}