{% load static %}

{% block main %}

<div class="row justify-content-center">

    <div class="col-12 text-justify">
        <p>
            Soy el propietario o gestor de un local comercial, y lo tengo disponible para distribuir producto al
            por menor
        </p>
    </div>

    <div class="w-100 mt-4"></div>

    <div class="col-8"><p>Distribuyo otras marcas</p></div>
    <div class="col-4 text-right">
        {{ espacio_form.is_distribuidor }}
    </div>

    <div class="w-100 mt-4"></div>

    <div class="col-8"><p>Distribuyo mi propia marca</p></div>
    <div class="col-4 text-right">
        {{ espacio_form.is_propia_marca }}
    </div>

    <div class="w-100 mt-4"></div>

    <div class="col-8"><p>Soy propietario del local</p></div>
    <div class="col-4 text-right">
        {{ espacio_form.is_propietario }}
    </div>

    <div class="w-100 mt-4"></div>

    <div class="col-8"><p>Aún no he abierto el negocio y estoy buscando</p></div>
    <div class="col-4 text-right">
        {{ espacio_form.is_nuevo }}
    </div>

</div>

{% endblock %}