{% load static %}

{% block main %}

<div class="row justify-content-center">

    <div class="col-12 text-justify">
        <p>Soy el propietario de la marca y del producto, elijo los canales donde distribuir mi producto.</p>
    </div>

    <div class="w-100 mt-5"></div>

    <div class="col-12">
        <b>Dirección ubicación principal*</b>
    </div>
    <div class="col-12 mb-5">
        {{ marca_form.direccion }}
    </div>

    <div class="col-8">
        <p>Tengo tienda online</p>
    </div>
    <div class="col-4 text-right">
        {{ marca_form.is_online }}
    </div>

    <div class="w-100 mt-4"></div>

    <div class="col-8"><p>Vendo a otras tiendas (Soy Mayorista)</p></div>
    <div class="col-4 text-right">
        {{ marca_form.is_mayorista }}
    </div>

    <div class="w-100 mt-4"></div>

    <div class="col-8">
        <p>Vendo en marketplaces Online</p>
    </div>
    <div class="col-4 text-right">
        {{ marca_form.is_marketplaces }}
    </div>

</div>

{% endblock %}