{% load static %}

<div class="field text-center mt-4">
    <div class="inner">
        <div class="mt-5"><a href="/premium-1a"><h3 class="h3Display">¿Ya eres premium?</h3></a></div>
        <div class="container text-center">
            <p>Vende en otros canales, controla tus facturas, abre cuentas de empleados y un largo etcétera</p>
        </div>
         <div class="field text-center mt-5">
            <a href="{% url 'premium' %}"><button type="submit" value="Guardar">Upgrade</button></a>
        </div>
    </div>
</div>
