{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Próximos descuentos{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'landing/css/datepicker.css' %}"/>
{% endblock %}


{% block main %}
    {% if promociones|length > 0 %}
        {% for promo in promociones %}
            <div id="promo-1" class="col-12 mt-4">
                <div class="box-gray row">
                    <div class="row height-limit col-12 col-md">
                        <div class="col-12 col-md"><h5>{{ promo.texto }}</h5></div>

                        <div class="col-12 col-md float-right disabledcontent">
                            <a href="#"
                               data-toggle="tooltip"
                               title="Si las haces visibles, los puntos de venta podrán ver las promociones que tienes programadas">
                                <img src="{% static 'landing/img/catalogo/categoria/info.png' %}"/>
                            </a>

                            <input id="promo_visible" type="checkbox"
                                   class="toggle-chk {% if promo.visible %}loaded{% endif %} "/>
                            <label for="promo_visible"><span></span></label><span>Visible</span>

                        </div>

                    </div>
                    <div class="row mt-3 col-12 col-md">
                        <div class="col-12"><p>Fecha inicio: {{ promo.fecha_desde }}</p></div>
                        <div class="col-12"><p>Fecha fin: {% if promo.fecha_hasta %} {{ promo.fecha_hasta }}{% else %}
                            Sin fecha límite{% endif %}</p></div>


                    </div>
                 <div class="col-12">
                    <a href="{% url 'promo-detail' promo_id=promo.id %}" class="button naranja fit"> Ver</a>
                </div>
                </div>

            </div>

        {% endfor %}


    {% else %}
        <div class="text-center justify-content-center">
            <p class="text-center">No has creado ninguna promocion aún, ¡Ve a tu catálogo para añadir nuevas
                promociones!</p>
            <button type="button" id="backLink" class="mt-3 button border-morado align-center">volver</button>
        </div>

    {% endif %}

{% endblock %}
{% block script %}
    <script src="{% static 'main/assets/js/catalogo.js' %}"></script>
{% endblock %}