{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Buscar productos{% endblock %}


{% block main %}


    <div class="container">
        <form method="post" action="/search-item-promo" id="search-form">
            {% csrf_token %}
            <div class="row">
                {# Seccion con la tabla #}
                <div class="input-group mb-3 col-12">
                    <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-search"></i>
            </span>
                    </div>

                    <input type="text" class="border border-dark bg-light form-control promo-searchbox promo" name="q"
                           value=""
                           placeholder="Buscador de artículos" aria-label="Buscador"
                           aria-describedby="basic-addon1">
                </div>

                <div class="order-last">
                    <div class="row col-12">
                        <span class="fa-stack">
                              <i class="fa fa-exclamation-triangle fa-stack-2x" style="color:#fbed50;"></i>
                              <i class="fa fa-info fa-stack-1x" style="color:#000000;"></i>
                        </span>
                        <p>Marca si un artículo ya existe en una promoción</p></div>

                    {% include "landing/empresa/catalogo/item-table-dialog.html" %}
                </div>


                {# Seccion para seleccionar todos o abrir los distintos filtros   #}
                <div class="align-self-start col-12">
                    <div class="col-12">
                        <input class="mt-2 custom-control-input art-found" type="checkbox" id="select_all_items">
                        <label class="mt-3 custom-control-label" for="select_all_items"> Seleccionar todo </label>
                    </div>

                    <div id="selected-tags" class="mt-2 col-12">
                        <p>Sin filtros</p>
                    </div>

                    <div class="ml-3 row font-weight-bold jutify-content-right mt-3" id="filtro_mtcs">
                        <div class="col col-md-2 col-l-1 p-0 m-0"><p id="filtro_m">Mercado <i style="font-size: 1.5em;"
                                                                                              class="medium-size-i fa fa-angle-right"></i>
                        </p></div>
                        <div class="col col-md-2 col-l-1 p-0 m-0"><p id="filtro_t">Target <i style="font-size: 1.5em;"
                                                                                             class="medium-size-i fa fa-angle-right"></i>
                        </p></div>
                        <div class="col col-md-2 col-l-1 p-0 m-0"><p id="filtro_c">Categorias <i
                                style="font-size: 1.5em;"
                                class=" medium-size-i fa fa-angle-right"></i>
                        </p></div>
                        <div class="col col-md-2 col-l-1 p-0 m-0"><p id="filtro_s">Colecciones <i
                                style="font-size: 1.5em;"
                                class="medium-size-i fa fa-angle-right"></i>
                        </p></div>
                    </div>


                    {# Zona donde se muestran los checkbox para filtrar por los valores correspondientes   #}
                    <div class="col-12 col-md-5 scrollable-div" style="height: 150px !important;" id="filtro_options">
                        <div id="filtro_m_options" class="hide">
                            <ul>
                                {% for m in maestro %}
                                    {% for mercado in m.mercado.all %}
                                        <li>
                                            <div class="custom-control custom-checkbox mt-2">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="m-{{ mercado.id }}">
                                                <label class="custom-control-label"
                                                       for="m-{{ mercado.id }}">{{ mercado }}</label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="filtro_t_options" class="hide">
                            <ul>
                                {% for m in maestro %}
                                    {% for targ in m.target.all %}
                                        <li>
                                            <div class="mt-2">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="t-{{ targ.id }}">
                                                <label class="custom-control-label"
                                                       for="t-{{ targ.id }}">{{ targ }}</label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="filtro_c_options" class="hide">
                            <ul>
                                {% for cat in categorias %}
                                    <li>
                                        <div class="mt-2 custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="c-{{ cat.id }}">
                                            <label class="custom-control-label"
                                                   for="c-{{ cat.id }}">{{ cat.nombre }}</label>
                                        </div>
                                    </li>
                                    {% for sub in cat.subcategorias.all %}
                                        <div class="custom-control custom-checkbox ml-3 mt-2">
                                            <input type="checkbox" class="custom-control-input" id="x-{{ sub.id }}">
                                            <label class="custom-control-label"
                                                   for="x-{{ sub.id }}">{{ sub.nombre }}</label>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="filtro_s_options" class="hide">
                            <ul>
                                {% for col in colecciones %}
                                    <li>
                                        <div class="mt-2 custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="s-{{ col.id }}">
                                            <label class="custom-control-label"
                                                   for="s-{{ col.id }}">{{ col.nombre }}</label>
                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Dependiendo del tipo, guarda los articulos en un array u otro -->
            </div>
            <input type="hidden" id="selected-promo-items" name="selected-promo-items"/>
            <input type="hidden" id="where-save" name="where-save"
                    {% if tipo == '0' %}
                   value="0"
                    {% elif tipo == '1' %}
                   value="1"
                    {% elif tipo == '2' %}
                   value="2"
                    {% endif %}
            />


            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <button id="enviar-ids" type="submit" value="Guardar"><i class="fa fa-check"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/assets/js/catalogo.js' %}"></script>
{% endblock %}


