{% extends 'landing/base-hf.html' %}
{% load static %}
{% load qr_code %}
{% block main %}
{% endblock %}

{% block script %}

    {% if pedido %}
        <div class="row justify-content-start">
            <div class="col-12 col-md-5 row ml-5"> <!-- Informacion basica del pedido-->
                {% qr_from_text pedido.qr size="T" image_format="png" error_correction="L" %}
                <div>
                    <p><strong>Pedido:</strong> {{ pedido.codigo }}</p>
                    <p><strong>Fecha:</strong> {{ pedido.get_fecha }}</p>
                    <p><strong>Hora:</strong> {{ pedido.get_hora }}</p>
                </div>
            </div>

            <div class="col-12 col-md-5 ml-5 row"><!-- Informacion complementaria -->
                <p><strong>Medio de pago:</strong> {{ pedido.medio }}</p>
                <p><strong>Punto de venta colaborador:</strong></p>

                {% if pedido.pdv %}
                    <p><strong>Nombre:</strong> {{ pedido.pdv.nombre }}</p>
                    <p><strong>NIF/CIF:</strong> Sin definir en el modelo</p>
                    <p><strong>Dirección fiscal:</strong> Sin definir en el modelo</p>
                {% else %}
                    <p><strong>No hay ningún punto de venta asociado</strong></p>
                {% endif %}

            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <button class="button justify-self-center">DEVOLUCIÓN O CAMBIO</button>
        </div>

        <h1 class="mt-5 text-center">Articulos</h1>


        <table class="table mx-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>

                <th scope="col"></th>
                <th scope="col">Ref</th>
                <th scope="col">PVP</th>
                <th scope="col">Cantidad</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pedido.items.all %}
                <tr>
                    <th scope="row"><img class="mini-thumbnail" src="{{ item.get_item.imagen_principal.url }}"/></th>
                    {% if item.is_variante %}
                        <td>{{ item.promo_reference.nombre }}</td>
                    {% else %}
                        <td>{{ item.get_item.nombre }}</td>
                    {% endif %}
                    {% if item.is_variante %}
                        <td>{{ item.get_item.get_variantes_values }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ item.get_item.ref }}</td>
                    <td>{{ item.get_item.precio_activo }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="d-flex justify-content-center mt-5 mb-5">
            <button class="button justify-self-center">IMPRIMIR COMPROBANTE</button>
        </div>


    {% else %}
        <h1 class="error">No se ha podido cargar la información del pedido</h1>
    {% endif %}
{% endblock %}