{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Mis puntos de venta{% endblock %}
{% block buscador_url %}<a class="fa-search" href="/buscar-pdv">Buscar</a>{% endblock %}
{% block top_icons %}

    <li class="top-icon">
        <a class="fa-qrcode" href="/scanner">Escaner</a>
    </li>
    <li class="top-icon">
        <a href="#">
            <a class="fa-shopping-cart" href="#carrito">Carrito</a>
            <span class="badge">{{ carrito.items.all|length }}</span>
        </a>
    </li>

{% endblock %}
{% block main %}

    <div class="container">
        <div class="row justify-content-center">

            <!-- Carousel -->
            <div class="col-md-10 mt-5">
                <div id="kradleco-pos" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for i in i|rjust:2 %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <!-- Cards with a top image -->
                                <div class="row">
                                    {% if relaciones|length > 0 %}
                                        {% for relacion in relaciones %}
                                            <div class="col-3 toggle-pdv ml-5" id="toggle-pdv-{{ relacion.id }}">
                                                <div class="card" id="relacion-{{ relacion.id }}">
                                                    {% if relacion.logo %}
                                                    <a><img src="{{ relacion.logo.url }}"
                                                            class="card-img-top"/></a>
                                                    {% endif %}
                                                    <div class="card-body mt-1">
                                                        <p class="card-text">{{ relacion.username }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-3 toggle-pdv">
                                            <div class="card">
                                                <a><img src="{% static 'main/images/KC_nopic.png' %}"
                                                        class="card-img-top"/></a>
                                                <div class="card-body mt-1">
                                                    <p class="card-text">No tienes nigun punto de venta asociado</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a class="carousel-control-prev d-none d-md-flex" href="#kradleco-pos" role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next d-none d-md-flex" href="#kradleco-pos" role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% for relacion in relaciones %}
                    <div id="pdv-show-{{ relacion.id }}" class="hide mt-5">
                        <h3>PUNTO DE VENTA 1</h3>
                        <p>Fecha de inicio 00/00/00</p>
                        <p><strong>Estado:</strong> Activo</p>

                        <div class="row text-center mt-3" style="color: red;">
                            <div class="col-6">Cancelar punto venta</div>
                            <div class="col-6">Admin notificaciones</div>
                        </div>
                    </div>
                    </div>



            <!-- Fin Carrusel -->

            <div class="col-md-10 mt-5 text-center">
                <ul>
                    <li id="tab1-btn" class="tabs marked"><p class="mr-2">GPV</p><h5><sub>(Gestión punto de venta)</sub>
                    </h5></li>
                    <li id="tab2-btn" class="tabs mt-3">Ventas y stock</li>
                </ul>

                <!-- GPV -->
                {% include "landing/market/pdv/gpv.html" %}

                <!-- Ventas y Stock -->
                {% include "landing/market/pdv/ventas-stock.html" %}

            </div>

            <div id="btn-show" class="hide">
                <div class="col-12 text-center">
                    <button style="width: 300px;">Notificar pedido online</button>
                </div>
                <div class="col-12 text-center mt-3">
                    <button style="width: 300px;">Liquidación</button>
                </div>
                <div class="col-12 text-center mt-3">
                    <button style="width: 300px;">Editar Artículos</button>
                </div>

                <div class="col-12 text-center mt-5">
                    <form method="post" action="{% url 'imprimir-qr' request.user relacion.id %}">
                        {% csrf_token %}
                        <button class="gris" style="width: 300px;">Imprimir códigos QR</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'main/assets/js/carrito.js' %}"></script>
    <script src="{% static 'main/assets/js/pdv.js' %}"></script>
{% endblock %}