<!DOCTYPE HTML>
<html>

    <head>
        <title>Kradleco</title>
        {% include "main/head.html" %}
    </head>

    <body class="is-preload">

        <div id="page-wrapper">

            {% block header %}
            {% endblock %}

            {% block menu %}
            {% endblock %}

            {% block banner %}
            {% endblock %}

            {% block main %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

            {% block up %}
            {% endblock %}

        </div>

        {% include "main/script.html" %}

    </body>

</html>
