{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Kradleco{% endblock %}

{% block main %}

	<div class="container text-center">
		<h2><b>Bienvenido</b></h2>
		<h3>{{ user.username }}</h3>
		{% if not user.validado %}
		<p>Primero debes terminar de rellenar tu información para poder ser un perfil público.</p>
		{% endif %}

		<ul class="mt-5">
			<li id="tab1-btn" class="tabs marked">My Network</li>
			<li id="tab2-btn" class="tabs">Suggest & News</li>
		</ul>
	</div>

	<!-- Network -->
	{% include "landing/member/network.html" %}

	<!-- Suggest -->
	{% include "landing/member/suggest.html" %}

{% endblock %}
