{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Rellena tu perfil de Kradeler{% endblock %}

{% block main %}

    <form enctype="multipart/form-data" novalidate="novalidate" method="post" name="public">

        {% csrf_token %}

        <!-- TODO mostrar las imagenes insertadas antes de guardar -->
        <div class="container">

            <p class="text-center">Primero debes terminar de rellenar tu informarción para poder ser un perfil
                público</p>

            <p><strong>Nombre usuario*</strong></p>
            {{ form.username }}

            <p class="mt-5"><strong>Titular*</strong></p>
            {{ form.titular }}

            <p class="mt-5"><strong>Descríbete a ti y a tu negocio*</strong></p>
            {{ form.sobre_mi_negocio }}

            <h4 class="mt-5">Logo*</h4>
            <div class="hide self-load-url">
                {% if form.logo %}
                    {{ form.logo }}
                {% endif %}
            </div>

            <div class="row justify-content-start align-items-center">

                <div class="col-sm-4">
                    {% if user.logo %}<img class="portrait" id="id_logo_holder" src="{{ user.logo.url }}"/>
                    {% else %}<img id="id_logo_holder" class="portrait"
                                   src="{% static 'main/images/KC_nopic.png' %}"/>{% endif %}
                </div>
                <div class="col-sm-1">
                    <button type="button" id="logo-btn" class="btn-circle btn-lg align-center"
                            onclick="document.getElementById('id_logo').click()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>

            <h4 class="mt-5">Fotos*</h4>
            {#            <div class="hide">#}
            {#                {% if form_galeria.imagen %}#}
            {#                    {{ form_galeria.imagen }}#}
            {#                {% endif %}#}
            {#            </div>#}


            {#            <div class="row justify-content-start align-items-center">#}
            {#                {% if galeria.count > 0 %}#}
            {#                    {% for image in galeria %}#}
            {#                        <img class="w-25" src="{{ image.imagen.url }}"/>#}
            {#                    {% endfor %}#}
            {#                {% else %}#}
            {#                    <p>No se ha subido niguna imagen a la galería.</p>#}
            {#                {% endif %}#}
            {#                <div class="col-sm-1">#}
            {#                    <button type="button" class="btn-circle btn-lg align-center"#}
            {#                            onclick="document.getElementById('id_imagen').click()">#}
            {#                        <i class="fa fa-plus"></i>#}
            {#                    </button>#}
            {#                </div>#}
            {#            </div>#}

            <div class="row justify-content-center align-items-center">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto" role="listbox" id="multi-img-articulo">
                        {% if galeria.count > 0 %}
                            {% for image in galeria %}
                                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 portrait {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.imagen.url }}" class="img-fluid mx-auto d-block"
                                         alt="{{ image.imagen }}">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example" role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


            <div class="row justify-content-start align-items-center">
                <input class="hide" id="multi-img" onchange="readURLShow(this);" name="perfil-images" type="file"
                       size="50" accept="image/*"
                       multiple>
                <button type="button" id="kradle-button" class="btn-circle btn-lg "
                        onclick="document.getElementById('multi-img').click()">
                    <i class="fa fa-plus"></i>
                </button>


            </div>

            <div class="mt-5 hr"></div>

            <p class="mt-5"><strong>Links a tus RRSS</strong></p>

            <div class="container row justify-content-start">
                {% include 'landing/rrss.html' %}
            </div>

            <h4 class="text-left mt-5">Foto empresario*</h4>
            <div class="hide self-load-url">
                {{ form.foto_perfil }}
            </div>
            <div class="row justify-content-start align-items-center">

                <div class="col-sm-8 text-left">
                    <p class="mt-2">Ver la cara de la persona con la que entablas conversación da seguridad. Hagamos
                        de
                        Kradleco
                        un entorno de confiaza y sube una foto real de ti o de tu equipo</p>
                </div>

                <div class="w-100"></div>

                <div class="col-sm-4 mt-5">
                    {% if user.foto_perfil %}
                        <img id="id_foto_perfil_holder" class="portrait" src="{{ user.foto_perfil.url }}"
                             alt="{{ user.foto.title }}"/>
                    {% else %}
                        <img id="id_foto_perfil_holder" class="portrait"
                             src="{% static 'main/images/KC_nopic.png' %}"
                             alt="Kradleco"/>
                    {% endif %}
                </div>
                <div class="col-sm-1">
                    <button type="button" id="kradle-button" class=" btn-circle btn-lg  align-center"
                            onclick="document.getElementById('id_foto_perfil').click()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <button type="submit" value="Guardar"><i class="fa fa-check"></i> Guardar perfil</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'landing/css/image-carousel.css' %}"/>
{% endblock %}
{% block script %}
    <script src="{% static 'main/assets/js/image-carousel.js' %}"></script>
{% endblock %}

<!-- SOCIAL MEDIA BUTTONS-->
{#                <!--Google +-->#}
{#                <a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>#}
{#                <!--Github-->#}
{#                <a class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>#}
{#                <!--Comments-->#}
{#                <a class="comm-ic mr-3" role="button"><i class="fas fa-lg fa-comments"></i></a>#}
{#                <!--Email-->#}
{#                <a class="email-ic mr-3" role="button"><i class="far fa-lg fa-envelope"></i></a>#}
{#                <!--Dribbble-->#}
{#                <a class="dribbble-ic mr-3" role="button"><i class="fab fa-lg fa-dribbble"></i></a>#}
{#                <!--Reddit-->#}
{#                <a class="reddit-ic" role="button"><i class="fab fa-lg fa-reddit-alien"></i></a>  #}
{#                <!--Instagram-->  #}
{#                <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>#}
{#                <!--Pinterest-->#}
{#                <a class="pin-ic mr-3" role="button"><i class="fab fa-lg fa-pinterest"></i></a>#}
{#                <!--Vkontakte-->#}
{#                <a class="vk-ic mr-3" role="button"><i class="fab fa-lg fa-vk"></i></a>#}
{#                <!--Stack Overflow-->#}
{#                <a class="so-ic mr-3" role="button"><i class="fab fa-lg fa-stack-overflow"></i></a>#}