{% extends "landing/base-hf.html" %}

{% load static %}

{% block title %}Kradleco Premium{% endblock %}

{% block main %}
<div class="container">
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <!-- Los nombres de los planes son provisionales, cogidos de shopify y ya. -->
        <th scope="col"></th>
        <th scope="col">
            <h1>Plan Basic Kradleco</h1>
            Todo lo básico para comenzar.
        </th>
        <th scope="col">
            <h1>Plan Kradleco</h1>
            Todo lo que necesitas para una experiencia completa.
        </th>
        <th scope="col">
            <h1>Plan Kradleco Premium</h1>
            Funciones avanzadas para hacer crecer tu negocio.
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Cuota mensual</th>
        <td>
            <h1>29</h1>€/mes
        </td>
        <td>
            <h1>79</h1>€/mes
        </td>
        <td>
            <h1>299</h1>€/mes
        </td>
    </tr>

    </tbody>
</table>

</div>

{% endblock %}