<div class="col-md-6 row">
    <a class="fb-ic mr-3 col-2" role="button" onclick="showHide('id_facebook')">
        <i class="fab fa-lg fa-facebook-f"></i>
    </a>
    <div id="id_facebook" class="col-md-9"> {{ form.facebook }}</div>
</div>

<div class="col-md-6 row">
    <a class="tw-ic mr-3 col-2" role="button" onclick="showHide('id_twitter')">
        <i class="fab fa-lg fa-twitter"></i>
    </a>
    <div id="id_twitter" class="col-md-9"> {{ form.twitter }}</div>
</div>

<div class="w-100 mt-3"></div>

<div class="col-md-6 row">
    <a class="li-ic mr-3 col-2" role="button" onclick="showHide('id_linkedin')">
        <i class="fab fa-lg fa-linkedin-in"></i>
    </a>
    <div id="id_linkedin" class="col-md-9"> {{ form.linkedin }}</div>
</div>

<div class="col-md-6 row">
    <a class="yt-ic mr-3 col-2" role="button" onclick="showHide('id_youtube')">
        <i class="fab fa-lg fa-youtube"></i>
    </a>
    <div id="id_youtube" class="col-md-9"> {{ form.youtube }}</div>
</div>
