{% extends 'landing/base.html' %}

{% load static %}

{% block main %}
	<div class="bg-morado text-center">
		<a id="logo-kradleco" href="/" class="image original"><img src="{% static 'main/images/Logo_Kradleco_Blanco.png' %}" alt="kradleco.es" /></a>
	</div>
{% endblock %}

{% block footer %}

    <section id="footer">
        <div id="contact" class="inner">
            <h2 class="major">Sign Up</h2>
            <div class="contact-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
