{% extends 'dashboard/base.html' %}

{% load static %}
{% load i18n %}

{% block main %}

        <style>
        #id_comprador__username, #id_vendedor__username, #id_fecha {
            height: 50px;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid gainsboro;
            padding-left: 10px;
            background: white;
        }
    </style>

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
              <li class="breadcrumb-item active">Gestión comercial</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
       <div class="row">
          <div class="col-1"></div>
              <div class="col-11">
                  <div class="col-12" style="position: relative; left: 100px;"><i class="fas fa-filter"></i> Filtrar</div>
                  <form id="filter_form" action="" method="get" class="row" style="position: relative; left: 112px;">
                        <div class="col-12 col-lg-2 mt-3">{{ filter.form.comprador__username }}</div>
                        <div class="col-12 col-lg-2 mt-3">{{ filter.form.vendedor__username  }}</div>
                        <div class="col-12 col-lg-8 mt-3">{{ filter.form.fecha }}</div>
                      <input type="submit" value="Aplicar filtros" class="btn btn-primary mt-3 ml-2">
                  </form>
              </div>
          </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<div class="container">
    <div class="row">
       <div class="card col-12">
              <div class="card-header border-transparent">
                <h3 class="card-title">Compras</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>ID del Pedido</th>
                      <th>Fecha</th>
                      <th>Producto</th>
                      <th>Comprador</th>
                      <th>Vendedor</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for compra in filter.qs %}
                          <tr>
                            <td><a href="{% url 'admin:home_compra_change' compra.id %}">OR{{ compra.id }}</a></td>
                            <td>{{ compra.fecha|date:"d M Y" }}</td>
                            <td>{{ compra.producto.nombre }}</td>
                            <td><a href="{% url 'perfil_admin' id=compra.comprador.id %}">{{ compra.comprador }}</a></td>
                            <td><a href="{% url 'perfil_admin' id=compra.vendedor.id %}">{{ compra.vendedor }}</a></td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

                <a href="{% url 'admin:home_compra_changelist' %}" class="btn btn-sm btn-secondary float-right">Gestionar compras</a>

                  <form method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-success float-left ml-3"> <i class="fas fa-file-export"></i>Exportar a Excel</button>
                  </form>

                  <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                      <label for="fileInput" style="cursor: pointer;">
                          <span class="btn btn-sm btn-info float-left ml-3">
                              <i class="fas fa-file-import"></i>Importar desde Excel
                          </span>
                      </label>
                      <input type="file" class="d-none" id="fileInput" name="fileInput">
                      <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalTitle">Importar desde excel</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Al importar nuevas compras desde excel, se sobreescribirán las compras que tengan el mismo campo ID.
                                  ¿Deseas continuar?
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                  <button type="submit" class="btn btn-primary" name="import">Importar desde excel</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </form>
              </div>

              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
    </div>
    <script>
        document.getElementById('id_fecha').type = 'date';
    </script>
    <script src="{% static 'main/assets/js/dashboard-import.js' %}" defer></script>
</div>

{% endblock %}