{% extends 'dashboard/base.html' %}

{% load static %}
{% load i18n %}

{% block main %}
<div class="container pt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="card card-primary card-outline col-10">
          <div class="card-body box-profile">
            <div class="text-center">
                {% if usuario.profile_pic %}
                    <img class="profile-user-img img-fluid img-circle" src="/media/{{ usuario.profile_pic }}" alt="User profile picture">
                {% else %}
                    <img class="profile-user-img img-fluid img-circle" src="{% static 'main/images/no_user.png' %}" alt="User profile picture">
                {% endif %}
            </div>

            <h3 class="profile-username text-center">{{ usuario.first_name }} {{ usuario.last_name }}</h3>

            <p class="text-muted text-center">{{ usuario.tipo_de_usuario }}</p>

            <ul class="list-group list-group-unbordered mb-3">
            {% if usuario.tipo_de_usuario == 'FOTOGRAFO' %}
              <li class="list-group-item">
                <b class="toggle-chk" id="listados" style="cursor: pointer;">Productos listados</b> <a class="float-right">{{ productos.count }}</a>
                  <div id="listados-show" style="display:none;">
                      <ul>
                          {% for producto in productos %}
                          <li><a href="{% url 'producto' id=producto.id %}">{{ producto }}</a></li>
                          {% endfor %}
                      </ul>
                  </div>
              </li>
              <li class="list-group-item">
                <b class="toggle-chk" id="vendidos" style="cursor: pointer;">Productos vendidos</b> <a class="float-right">{{ ventas.count }}</a>
                    <div id="vendidos-show" style="display:none;">
                      <ul>
                          {% for venta in ventas %}
                          <li><a href="{% url 'producto' id=venta.producto.id %}">{{ venta.producto }}</a></li>
                          {% endfor %}
                      </ul>
                  </div>
              </li>
            {% else %}
              <li class="list-group-item">
                <b class="toggle-chk" id="comprados" style="cursor: pointer;">Productos comprados</b> <a class="float-right">{{ compras.count }}</a>
                  <div id="comprados-show" style="display:none;">
                      <ul>
                          {% for compra in compras %}
                          <li><a href="{% url 'producto' id=compra.producto.id %}">{{ compra.producto }}</a></li>
                          {% endfor %}
                      </ul>
                  </div>
              </li>
              <li class="list-group-item">
                <b>Productos en lista de deseos</b> <a class="float-right">{{ wishlist }}</a>
              </li>
            {% endif %}
              <li class="list-group-item">
                <b>Reportes recibidos</b> <a class="float-right">
                  {% if denuncias.count < 3 %}
                  <strong style="color:green;">
                  {% elif denuncias.count < 8 %}
                  <strong style="color:orange;">
                  {% else %}
                  <strong style="color:red;">
                  {% endif %}
                      {{ denuncias.count }}
                  </strong>
              </a>
              </li>
            </ul>
            <form action="" method="POST"> {% csrf_token %}
                <a href="/perfil/{{ usuario.id }}" class="btn btn-primary"><b>Ver perfil en la web</b></a>
                    {% if usuario.is_active %}
                        <button type="submit" class="btn btn-danger float-right"><b>Desactivar usuario</b></button>
                    {% else %}
                        <button type="submit" class="btn btn-primary float-right"><b>Reactivar usuario</b></button>
                    {% endif %}
              </form>

          </div>
        </div>
    </div>
</div>
{% endblock %}