{% extends 'dashboard/base.html' %}

{% load static %}
{% load i18n %}

{% block main %}

    <style>
        #id_user__username, #id_spot {
            height: 50px;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid gainsboro;
            padding-left: 10px;
            background: white;
        }

        #id_spot {
            width: 100%;
        }

        #id_fecha {
            width: 150px;
            height: 50px;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid gainsboro;
            background: white;
        }

    @media only screen and (max-width: 600px) {
        #filter_form, #col-form {
            left: 0 !important;
        }
    }

    </style>

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
              <li class="breadcrumb-item active">Gestión comercial</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-0 col-lg-2"></div>
            <div class="col-12 col-lg-4">
                  <div class="row mt-5">
                      <div class="col-12">
                        <div id="col-form" class="col-12" style=""><i class="fas fa-filter"></i> Filtrar</div>
                      </div>
                      <div class="col-12">
                          <a href="productos?area__pais__continente__nombre=EUROPA" class="nav-link">Productos de Europa</a>
                      </div>
                      <div class="col-12">
                           <a href="productos?area__pais__continente__nombre=AMERICA" class="nav-link">Productos de America</a>
                      </div>
                      <div class="col-12">
                            <a href="productos?area__pais__continente__nombre=AUSTRALIA AND NEW ZEALAND" class="nav-link">Productos de Australia & New Zealand</a>
                      </div>
                      <div class="col-12">
                          <a href="productos?area__pais__continente__nombre=ASIA" class="nav-link">Productos de Asia</a>
                      </div>
                      <div class="col-12">
                          <a href="productos?area__pais__continente__nombre=CARIBEAN" class="nav-link">Productos de Caribean</a>
                      </div>
                  </div>
            </div>

                <div class="col-12 col-lg-6">
                  <div class="row">
                      <div class="col-12 col-lg-6">
                        <form action="" method="POST" id="formulario" class="row">
                            {% csrf_token %}
                             <div class="col-12 mt-3">
                                 <label>{% trans 'Alias' %}*</label>
                                 <input type="text" name="alias" placeholder="Alias" class="form-control">
                             </div>

                            <div class="col-12 mt-3 d-none" id="div-cont">
                                <label>{% trans 'Continent' %}*</label>
                                <select name="" id="selectCont" class="form-control"></select>
                            </div>

                            <div class="col-12 mt-3" id="div-pais">
                                <label>{% trans 'Country' %}*</label>
                                <select name="" id="selectPais" class="form-control"></select>
                            </div>

                            <div class="col-12 mt-3">
                                <label>{% trans 'Area' %}*</label>
                                <select name="area" id="selectArea" class="form-control"></select>
                            </div>

                            <div class="col-12 mt-3">
                                <label>{% trans 'Spot' %}*</label>
                                <select name="spot" id="selectSpot" class="form-control"></select>
                            </div>

                            <input class="btn btn-primary mt-3" type="button" value="Filtrar productos" id="buscar">
                            <input class="btn btn-primary mt-3 d-none" type="submit" value="Elige qué estás buscando" name="filtro-productos" id="buscar-form">
                        </form>
                      </div>
                  </div>
                </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Productos</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                  {% for producto in filter.qs %}
                    <li class="item">
                    <div class="product-img">
                      <img src="/media/{{ producto.imagen0 }}" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <a href="{% url 'admin:home_producto_change' producto.id %}" class="product-title">{{ producto.nombre }}
                        <span class="badge badge-warning float-right">{{ producto.precio }} €</span></a>
                      <span class="product-description">
                        Publicado por <a href="{% url 'perfil_admin' id=producto.user.id %}">{{ producto.user }}</a>
                      </span>
                    </div>
                  </li>
                  {% endfor %}
                  <!-- /.item -->
                </ul>
              </div>
                <!-- /.card-body -->
             {% if user.is_superuser %}
              <div class="card-footer clearfix">

                        <a href="{% url 'admin:home_producto_add' %}" class="btn btn-sm btn-primary float-left">Añadir producto</a>
                        <a href="{% url 'admin:home_producto_changelist' %}" class="btn btn-sm btn-secondary float-right">Gestionar productos</a>

                  <form method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-success float-left ml-3"> <i class="fas fa-file-export"></i>Exportar a Excel</button>
                  </form>

                  <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                      <label for="fileInput" style="cursor: pointer;">
                          <span class="btn btn-sm btn-info float-left ml-3">
                              <i class="fas fa-file-import"></i>Importar desde Excel
                          </span>
                      </label>
                      <input type="file" class="d-none" id="fileInput" name="fileInput">
                  </form>
              </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
 <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalTitle">Importar desde excel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Al importar nuevos productos desde excel, sobreescribirán los productos que tengan el mismo campo ID.
              ¿Deseas continuar?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" name="import">Importar desde excel</button>
          </div>
        </div>
      </div>
    </div>
</div>


<script src="{% static 'main/assets/js/dashboard-import.js' %}" defer></script>

    <script defer>
            let scroll = "{{ scroll }}" === "True";

            const spotOG = {{ spotOG|safe }};

            let spotQS = [];

            for (let spot of spotOG) {
                var result = JSON.parse(spot)
                spotQS.push(result)
            }
    </script>

    <script src="{% static 'main/assets/js/buscador.js' %}" defer></script>
    <script src="{% static 'dashboard/filters.js' %}" defer></script>
    <script src="{% static 'main/assets/js/filtros-spots.js' %}" defer></script>



{% endblock %}