{% extends 'dashboard/base.html' %}

{% load static %}
{% load i18n %}

{% block main %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
              <li class="breadcrumb-item active">Cambiar marca de agua</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<div class="container pt-5">
<div class="row">
       <div class="card col-12">
              <div class="card-header border-transparent">
                <h3 class="card-title">watermarks</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                        <th>ID de la watermark</th>
                        <th>Imagen</th>
                        <th>Activo</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for watermark in watermarks %}
                          <tr>
                            <td><a href="{% url 'admin:home_watermarkimage_change' watermark.id %}">WATERMARK{{ watermark.id }}</a></td>
                            <td>
                                <a href="{{ watermark.imagen.url }}" target="_blank">Ver imagen</a>
                            </td>
                            <td>

                                <form action="" method="POST"> {% csrf_token %}
                                    {% if watermark.activo %}
                                        <i class="fas fa-check"></i>

                                        <button type="submit" class="btn btn-warning ml-5" name="desactivar" value="{{ watermark.id }}">Desactivar</button>
                                    {% else %}
                                        <i class="fas fa-times"></i>

                                        <button type="submit" class="btn btn-success ml-5" name="activar" value="{{ watermark.id }}">Activar</button>
                                    {% endif %}
                                </form>
                            </td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                    <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-sm btn-primary">Añadir watermark</a>
                    <a href="{% url 'admin:home_watermarkimage_changelist' %}" class="btn btn-sm btn-secondary float-right">Gestionar watermarks</a>
              </div>
              <!-- /.card-footer -->
        </div>
            <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añade una marca de agua</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <input type="file" name="docfile" id="id_docfile">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}