/* Banner */

	#banner {
		margin-top: -0.5em;
	}

        #banner .inner {
            margin: 0 auto;
            width: 80%;
        }

		@media screen and (max-width: 1280px) {

			#banner {
			    margin-top: -1.5em;
				padding: 1.5em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 1.25em 0;
			}

				#banner .inner {
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 1em 0;
			}

		}

		body.is-preload #banner .video {
			-moz-transform: translateY(0.5em);
			-webkit-transform: translateY(0.5em);
			-ms-transform: translateY(0.5em);
			transform: translateY(0.5em);
			opacity: 0;
		}
