{% load static %}


<section id="menu">

    <!-- Search
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
            </form>
        </section> -->

        <section id="member" class="banner">
            <div class="inner">
                <div class="img-logo">
                    {% if user.foto_perfil %}<img src="{{ user.foto_perfil.url }}" />
                    {% else %}<img src="{% static 'main/images/no_user.png' %}"/>{% endif %}
                </div>
                <div class="w-100"></div>
                <h3>{{ user.username }}</h3>
                <p>{{ user.email }}</p>
            </div>
        </section>

    <!-- Mi perfil -->
        <section>
            <div  class="inner">
                <ul class="links">
                    <li>
                        <a href="{% url 'mi-perfil' %}">Mi perfil</a>
                    </li>
                </ul>
            </div>
        </section>

    <!-- Links -->
        <section>
            <span><h4>Mi empresa</h4></span>
            <ul class="links">
                <li>
                    <a href="{% url 'mi-cuenta' 1 %}">Mi cuenta</a>
                </li>
                <li>
                    {% if user.perfil.is_marca %}
                        <a href="{% url 'mi-catalogo' %}">Mi catálogo</a>
                    {% elif user.perfil.is_espacio %}
                        <a href="{% url 'mi-espacio' %}">Mi espacio</a>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'conexion' %}">Mis conexiones</a>
                </li>
<!--
                <li>
                    <a href="#">
                        <h3>Etiam sed consequat</h3>
                        <p>Porta lectus amet ultricies</p>
                    </a>
                </li>
-->
            </ul>
        </section>

    <!-- Mi Kradleco market -->
         <section>
                <span><h4>Mi Kradleco market</h4></span>
                <ul class="links">
                    <li>
                        <a href="{% url 'market' %}">Market</a>
                    </li>
                    <li>
                        <a href="/">Mis intereses</a>
                    </li>
                    <li>
                        <a href="{% url 'relaciones-comerciales' %}">Mis relaciones comerciales</a>
                    </li>
                    <li>
                        <a href="{% url 'puntos-de-venta' %}">Puntos de venta activos</a>
                    </li>
                </ul>
         </section>

    <!-- Otros -->
         <section>
                <ul class="links">
                    <li>
                        <a href="/">Ayuda y faqs</a>
                    </li>
                    <li>
                        <a href="/">Condiciones de uso y privacidad</a>
                    </li>
                </ul>
         </section>

    <!-- Actions -->
        <section>
            <ul class="actions stacked">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="button large fit">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="button large fit">Log In</a></li>
                {% endif %}
            </ul>
        </section>

</section>
