{% load static %}

<section id="tab2" class="container mt-3 hide">

    <div class="inner">
        <div class="row">

            <!-- Noticias -->
            {% include "landing/member/inc-noticias.html" %}

            <div class="w-100 mt-5"></div>

            <!-- KradlecoMarket -->
            {% include "landing/member/inc-kcmarket-suggest.html" %}

            <div class="w-100 mt-5"></div>

            {% include "landing/member/inc-eventos.html" %}

            <div class="w-100 mt-5"></div>

            {% include "landing/member/inc-servicios.html" %}

        </div>
    </div>

</section>