{% extends 'landing/base-hf.html' %}
{% load static %}
{% block main %}
    {% if colecciones|length > 0 %}
        {% for coleccion in colecciones %}


            <div id="{{ coleccion.id }}" class="box-gray shadow row mt-2 coleccion">
                <p class="col float-left">
                    {{ coleccion.nombre }}
                </p>

                <div class="col-6 text-right">
                    <form method="post" action="{% url 'coleccion' coleccion.id %}" id="form-pdv">
                        {% csrf_token %}
                        <a href="#" onclick="document.getElementById('form-pdv').submit()">Editar colección</a>
                        <noscript>
                            <button type="submit">Editar colección</button>
                        </noscript>
                    </form>
                </div>
                <div class="col-12">
                    <form method="post" action="{% url 'editar-stock' coleccion.id  pdv_id %}">
                        {% csrf_token %}
                        <button id="add-pdv-coleccion-{{ coleccion.id }}" class="col-12 button naranja">Añadir
                        </button>
                    </form>
                </div>

            </div>


        {% endfor %}
    {% else %}
        {% if request.user.marca.all|length > 0 %}
            <h1>No tienes colecciones visibles actualmente, <a class="morado" href="{% url 'mi-catalogo' %}">¿porque no
                pruebas a añadir alguna?</a></h1>

        {% else %}
            <h1>No tienes colecciones visibles actualmente, <a class="morado" href="{% url 'mi-cuenta' 1 %}">¿Porqúe no
                completas los datos de tu cuenta?</a></h1>

        {% endif %}
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'main/assets/js/colecciones.js' %}"></script>
{% endblock %}