{% extends 'landing/base-hf.html' %}
{% load static %}
{% block main %}
    {% if coleccion %}
        {% if form %}
            <div class="row">
                <div class="col-2">
                    <i id="edit-col"
                       class="shake-animate col-1 fa fa-edit fa-3x {% if loaded %}loaded{% endif %}"></i><label
                        for="edit-col">Activar edición</label>
                </div>
                <div class="col-10">
                    <form novalidate="novalidate" method="post" name="coleccion">
                        <a href="#add-promo-container"
                           data-toggle="tooltip"
                           title="Click aquí para activar la edición">


                        </a>


                        {% csrf_token %}
                        <div class="row col-11 justify-content-around disabledcontent" id="coleccion-form">
                            <div>
                                {{ form.nombre }}
                            </div>
                            <div>
                                {{ form.visible }}
                                <label for="id_visible">Visible</label>
                            </div>

                            <button id="add-items-coleccion" type="submit" name="add-items-coleccion"
                                    class="mt-2 col-9 button naranja hide" value="true">Añadir artículos
                            </button>


                            <h1 class="col-12 text-center mt-5">Artículos en esta
                                colección ({{ coleccion.articulos.all|length }})</h1>

                            <table class="table table-block">
                                <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Referencia</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">PVP</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if coleccion %}
                                    {% for art in coleccion.articulos.all %}
                                        {% if forloop.counter == 1 %}

                                        {% endif %}
                                        <tr>
                                            <th scope="row">{{ art.nombre }}</th>
                                            <td>{{ art.ref }}</td>
                                            <td>{{ art.descripcion }}</td>
                                            <td>{{ art.precio_activo }}</td>
                                            <td><img src="{{ art.imagen_principal.url }}" class="mini-thumbnail"></td>
                                        </tr>

                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            {% if articulos_nuevos %}
                                <h1 class="col-12 text-center mt-5">Articulos nuevos para añadir
                                    ({{ articulos_nuevos|length }})</h1>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Referencia</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">PVP</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for art in articulos_nuevos %}
                                        {% if forloop.counter == 1 %}

                                        {% endif %}
                                        <tr>
                                            <th scope="row">{{ art.nombre }}</th>
                                            <td>{{ art.ref }}</td>
                                            <td>{{ art.descripcion }}</td>
                                            <td>{{ art.precio_activo }}</td>
                                            <td><img src="{{ art.imagen_principal.url }}" class="mini-thumbnail"></td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                                <input type="hidden" name="new_items" value="



                                        {% for art in articulos_nuevos %}{% if forloop.counter != 1 %},{% endif %}{{ art.id }}{% endfor %}"/>
                            {% endif %}
                            <button type="submit" id="save-coleccion" name="save-coleccion" class="mt-2 button hide">
                                GUARDAR
                            </button>
                        </div>

                    </form>
                </div>


            </div>

        {% else %}
            <h1 class="display-4">Error al cargar, inténtelo de nuevo</h1>
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'main/assets/js/colecciones.js' %}"></script>
{% endblock %}